/*	--------------------------------------------------
    General
    -------------------------------------------------- */
body {

    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 13px; 
    font-size: 1.3rem; 
    line-height: 18px; 
    color: #555;  
    -webkit-font-smoothing: antialiased;
}



a { color: #666666; text-decoration: none; line-height: inherit; }
a:hover { color: #e75406; }
a:focus { color: #e75406; outline: none; }
p a, p a:visited { line-height: inherit; }

hr { border: solid #cdcdcd; border-width: 1px 0 0; clear: both; margin: 12px 30px 12px 0px; height: 0; }
	
/* START OF IMPORTED TABLET BACKGROUND STYLES */  
html { 
    background: url(../images/clouds.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#container {
    width: 100%;
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
}

#scaffold {
    background: url(../images/score-base.png) scroll repeat-x;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

    width: 100%;
    height: 23.9%;
    position: fixed;
    top: 100%;
    margin-top: -11%;
    left: 50%;
    margin-left: -50%;
}

#border {
/*     background: url(../images/screen-border.png) scroll no-repeat; */
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
/*
    width: 96%;
    height: 96%;
    margin-top: -96%;
    position: fixed; 
*/
    
    width: 96%;
    min-width: 768px;
    height: 88%;
/*              min-height: 725px; */
    position: fixed;
    top: 100%;
    margin-top: -98%;
    left: 27%;
    margin-left: -25%;
}

#dynamic {
    width: 92%;
    min-width: 768px;
    height: 85%;
/*                 min-height: 725px; */
    position: fixed;
    top: 100%;
    margin-top: -96%;
    left: 27%;
    margin-left: -23%;
    
    background: url(images/backgrounds/bg-texture-dark.png) top left;
}













/* ============  LANDSCAPE STYLES ========================================================================================================================================================== */

@media only screen and (orientation : landscape) {
    #border {
     background: url(../images/screen-border.png) scroll no-repeat;
     min-height: 570px; }
    
    #container { min-height: 565px; }
    
    
    #wrap {
	    width: 891px;
	    height: 566px;
	    position: relative;
	    background: url(../images/bg-texture-dark.png) scroll repeat;
	    overflow: hidden;
	    top: 30px;
		left: 46px;
	}
    
    #boardcontainer { 
	    background: url(../images/bg-texture-light.png) scroll repeat;
	    width: 890px; 
	    height: 76px;
	    top: 0px;
	    left: 0px;
	    position: absolute; 
	    margin-top: 0; 
	    margin-left: 0; 
	    overflow: visible;
	    z-index: 10;
    
    }
    
    #boardcontainer .expanded {
	    width: 109px;
	    height: 156px;
	    background: url(../images/share_hover.png) scroll 0 0 no-repeat;
	    background-size: 109px 156px;
	}
    
       
 /* TWITTER STYLES LANDSCAPE */   
 
 
    .twitter { height: 341px; position: relative; overflow: hidden; margin: 10px 0px; width: 909px; top: 80px; left: 3px;}
	/* #twitter_overlay { background: url(../images/twitter_overlay.png) top left no-repeat; display: block; height: 347px; position: absolute; width: 996px; z-index: 3;}    */
	#twitter_overlay_top { background: url(../images/twitter_overlay_top.png) bottom left no-repeat; display: block; height: 107px; position: absolute; width:888px; z-index: 3; top: 90px; left: 9px; }
	#twitter_overlay_bottom  { background: url(../images/twitter_overlay_bottom.png) top left no-repeat; display: block; height: 106px; position: absolute; width: 888px; bottom: 130px; z-index: 3; left: 9px } 
	  
	
	.tweet_list { position: relative; top: -50px; }
	
	.unique_tweet { border-bottom: #ccc 2px solid; height: 110px; margin: 0 34px 0 34px; padding: 34px 0 0 0;  position: relative; width: 836px; }
	.unique_tweet li { float: left; list-style: none; position: relative; }
	
	.tweet_info { color: #e75405; font-family: Helvetica, Arial, sans-serif;  font-weight: bold;  font-size: 18px; height: 102px;  margin: 0 0 0 30px; padding: 0 0 0 0;  width: 215px; overflow: hidden; position: relative; }
	.tweet_info ul li { float: left; position: relative; }
	.avatar { margin-right: 7px; }
	.tweet_avatar { float: left; height: 48px; width: 48px; }
	.screenname { position: relative;  clear: right; width: 158px;}
	.username { float: left; }
	.tweet_user { color: #858585; font-weight: normal; text-decoration: none; font-family: Arial, Helvetica, sans-serif;  font-size: 12px; }
	
	
	.tweet{ height: 102px; width: 590px; }	
	.tweet:before { content: url(../images/quote_open.png); float: left; position: relative; width: 25px; height: 17px; } 
	.tweet:after { content: url(../images/quote_close.png); float: right; position: relative; width: 25px; height: 17px; top: 210px; }
	
	.tweet_text { color: #858585; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; margin: 0 0 0 50px; line-height: 26px; width: 530px; position: absolute; float: right; }
	.external_link { color: #a4bc27; text-decoration: underline; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; }
	.tweet_hashtag { color: #e75405; text-decoration: none;  font: Helvetica, Arial, sans-serif; }
	.at_user { color: #a4bc27; text-decoration: none; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; }
	
	
	#twitter_footer { position: relative; height: 91px; padding: 20px 0px 0px 30px; width: 868px; top: 83px; }
	/* #twitter_footer #twitter_count { position: absolute; width: 300px; top: 0; right: 0px; } */
	#twitter_footer li div span { border-bottom: #cbcbcb 2px solid; padding-right: 123px; }
	
	#twitter_headline {
		width: 490px; 
	}
	
	
	
	#social { position: relative; float: left; padding: 20px 0 0 36px; width: 341px}
	#social p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; width: 230px; }
	#social .links { position: relative; float: right; top: -20px; }
	#social .links li { position: relative; float: left; }
	/*
	#social .links a { text-decoration: none; }
	#social .links span { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; position: relative; top: -11px; }
	*/
	
	/* #social img { margin-right: 7px; } */
	#tweet { width: 86px; }
	
	
	
	#twitter_number_count {
		height: 130px; 
		width: 379px;
		float: right;
		position: relative;
		top: -43px;
		text-align: right; 
	}

	.tweets_count {
		margin: 0px 17px 0 0;
		position: relative;
		top: -49px; 
	
	}
    



	/*	--------------------------------------------------
	    Numbers
	    -------------------------------------------------- */
	
	#screen {
	    display: block; 
	    width: 909px; 
	    height: 566px; 
	    position: absolute; 
	    top: 0;
	    left: 0;
	}
	
	#screen li { 
	    float: left;
	}
	
	#box2:hover, #box3:hover, #box4:hover  {
    	background: white;
    }
	
	#box1 { 
	    width: 909px; 
	    height: 318px; 
	    position: relative; 
	    margin: 84px 0px 4px 0px;
	}
	
	#box1 .headlineMediumGray {
	    position: absolute;
	    top: 44px;
	    left: 30px;
	}
	
	#total {
		margin: 168px 0 0 52px;
	}
	
	#totalBG {
			margin: 98px 0 0 52px;
	}
	
	#box1 #total, #box1 .largNumbersGrey {
	    position: absolute;
	    width: 888px;
	    text-align: right;    
	    direction: rtl;
	    text-align: justify;
	    white-space: pre;
	}
	
	#box2 {
		width: 296px; 
	    height: 136px; 
	    position: relative; 
		margin: 0px 0px 0px 0px;
	}
	
	
	#box2 .numbers_small,
	#box3 .numbers_small,
	#box4 .numbers_small {
	    position: absolute;
	    bottom: 58px;
	    right: 21px;
	}


	
	#box2 span, #box2 img, #box2 hr,
	#box3 span, #box3 img, #box3 hr,
	#box4 span, #box4 img, #box4 hr {
	    position: absolute;
	}
	
	#box3 {
		width: 296px; 
	    height: 136px; 
	    position: relative; 
		margin: 0px 0px 0px 5px;
	}
	
	#box4 {
		width: 296px; 
	    height: 136px; 
	    position: relative; 
		margin: 0px 0px 0px 5px;
		padding-right: 1px;
	}
	
	.countGrey {
	    display: inline;
	    top: 78px;
	    left: 26px;
	    margin: 0;
	    width: 263px;
	    direction: rtl;
	    text-align: justify;
	    white-space: pre;
	}
	
	.countOrange {
	    display: inline;
	    top: 107px;
	    left: 26px;
	    margin: 0;
	    width: 263px;
	    direction: rtl;
	    text-align: justify;
	    white-space: pre;
	}
	
	.smallBoxHeading {
	    top: 12px;
	    left: 21px;
	}
	
	.smallBoxIcon {
	    top: 12px;
	    left: 258px;
	}
	
	.smallBoxIconLeft {
	    top: 12px;
	    left: 238px;
	}
	
	.smallBoxHR {
	    top: 24px;
	    left: 18px;
	    width: 258px;
	}
	
	.bottom, .bottom a { 
	    width: 293px; 
	    height: 155px; 
	    position: relative;
	    display: block;
	}
	
	
	
	
		
	/*	--------------------------------------------------
	Movement
	-------------------------------------------------- */
	
	
	#movements { 
	    width: 909px; 
	    height: 483px;
	    position: relative; 
	    margin: 10px 0 0 0; 
	    z-index: 12;
	}
	
	
	#movements .left {
		/*background: white;*/
		width: 500px; 
	    height: 440px;
		float: left;
	    display:block;
	    padding: 18px 0 0 28px;
	    margin: 74px 10px 0px 0px;
	    position: relative;
	}
	
	#movements .right {
		/*background: white;*/
	    position: absolute;
	    width: 378px;
	    height: 468px;
	    right: 0px;
	    margin: 74px 0px 0px 0px;
	    overflow: hidden;
	}
	
	#movements p {
		font-size: 13px; 
		line-height: 1.5;
		color: #767676;
		margin: 12px 24px 18px 24px;
	}
	
	#movements a {
		font-weight: bold;
		color: #e75406;
	}
	
	#movements a:hover {
		font-weight: bold;
		color: #666666;
	}
	
	#movements hr { 
		border: solid #cdcdcd;
		border-width: 1px 0 0;
		clear: both;
		margin: 8px 21px 8px 0px;
		height: 0;
	}
	
	#movements .img {
		float: left;
	    left: 0px;
	    display:block;
		margin: 16px 8px 21px 0px;
	}
	
	
	#movements .headline {
		float: left;
	    display:block;
	    width: 438px;
		margin: 25px 0px 18px 0px;
	}
	
	#movements .headline .left {
		float: left;
	    display: block;
	    width: 438px;
	    height: 20px;
	    position: relative;
	}
	
	#movements .headline .right {
	    float: right;
	    display: block;
	    width: 33px;
	    height: 33px; 
	    position: relative;
	    margin-left: 8px; 
	    margin-top: -10px;
	    box-shadow: 1px 2px 3px 2px #ccc;
	    border-radius: 8px;
	    
	    behavior: url(../lib/pie/PIE.htc);
	}
	
	#movements .headline h3 {
	    display:block;
	    width: 308px;
	    font-size: 16px;
	    font-family: 'FranklinGothicURW-HeaIta'; 
	    font-weight: normal; 
	    font-style: normal; 
	    color: #666666;
	    height: 28px;
	    margin: -8px 0px 0px 0px;
	    text-decoration: none;
	}
	
	#movements .headline h3 a {
	    display:block;
	    width: 308px;
	    font-size: 16px;
	    font-family: 'FranklinGothicURW-HeaIta'; 
	    font-weight: normal; 
	    font-style: normal; 
	    color: #666666; 
	    text-decoration: none;
	}
	
	#movements .headline h3 a:hover {
	    display:block;
	    width: 308px;
	    font-size: 16px;
	    font-family: 'FranklinGothicURW-HeaIta'; 
	    font-weight: normal; 
	    font-style: normal; 
	    color: #e75406; 
	    text-decoration: none;
	}
	
	
	
	
	#movements #followSF {
		float: left;
		margin: -1px 0px 0px 0px;
		
	}
	
	#movements .headline P {
	    font-size: 14px;
	    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		line-height: 1.28;
		color: #767676;
		font-weight: normal; 
	    text-decoration: none;
	    
		margin: -10px 0px 0px 0px;
	}
	
	#movements .headline a {
	    font-size: 14px;
	    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		line-height: 1.28;
		color: #e75406;
		font-weight: bold;
	    text-decoration: none;
	    
		margin: 6px 0px 0px 0px;
	}
	
	#movements .headline a:hover {
	    font-size: 14px;
	    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		line-height: 1.28;
		color: #666666;
		font-weight: bold;
	    text-decoration: none;
	    
		margin: 6px 0px 0px 0px;
	}




	/*	--------------------------------------------------
	    Instagram
	    -------------------------------------------------- */
	
	#instagram {
	    overflow: hidden;
	    height: 345px; 
	    margin: 80px 0px 0px 0px;
	    width: 909px; 
	}
	
	#instagram_footer { position: relative; height: 108px; padding: 12px 0px 0px 30px; width: 909px; }
	#instagram_footer li div span { border-bottom: #cbcbcb 2px solid; padding-right: 177px; }
	
	
	
	#instagram_count {
		position: relative;
		float: right;
        width: 363px;
        display: inline-block;
        margin-top: -50px;
        margin-right: 58px;
	}
	
	#instagram_count .mediumNumbersOrange,
	#instagram_count .mediumNumbersGrey {
	    position: absolute;
	    top: 41px;
	    right: 0;
	    text-align: right;
	    direction: rtl;
	    text-align: justify;
	    white-space: pre;
	    
	}
	
	.photo_count {
		font-family: 'ds-digitalitalic', Arial, sans-serif;
	    font-size: 116px;
	    color: #e75406;
	    margin: 0px 0px 0px 0px;
		
	}
	
	
	#instagram_social { padding: 16px 0 0 25px; width: 408px; positionL: relative; float: left; 
		
	}
	
	#instagram_social p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; width: 348px; 
		
	}
	
	#instagram_social em { color: #e75405; font-weight: bold; 
		
	}
	
	#instagram_button { position: relative; top: -30px;  float: right; }
	
	.instagram_photo_count {
		margin: 31px 0px 0px 0px; 
	}
	
	
	/*	--------------------------------------------------
	    Supporters
	    -------------------------------------------------- */
	.supporters { height: 497px; width: 997px; }
	#supporters_main { height: 367px;  width: 997px; }
	
	
	#supporter_numbers { position: relative; float: right; height: 347px; width: 475px;  margin: 10px 0; }
	
	#google_pluses { height: 328px; width: 409px; margin: 10px 0px 0px 0px; padding: 20px 0px 0px 35px; position: relative; float: left; top: 78px; } 
	#google_pluses li { float: left; }
	
	#google_header { border-bottom: #cbcbcb 2px solid; padding-bottom: 7px; width: 379px;  }
	
	#google_cta { margin: 27px 0px 0px 0px; width: 49px;  width: 39px;  }
	
	
	
	#facebook_likes { height: 328px; width: 409px; margin: 10px 10px 0px 0px; padding: 20px 0px 0px 35px; position: relative; float: left; top: 78px; }
	
	#facebook_likes li {float: left;}
	
	#facebook_header { border-bottom: #cbcbcb 2px solid; padding-bottom: 7px; width: 379px; }
	
	#facebook_like_button { height: 96px; }
	
	#facebook_cta { margin: 27px 0px 0px 0px; width: 51px; overflow: hidden; }
	



	#supporters_footer { background-color: #fff; position: relative; height: 91px; width: 867px; padding: 15px 0 0 30px; top: 80px; }
	
	#supporters_footer li div span { border-bottom: #cbcbcb 2px solid; padding: 4px 0px 4px 0px; }
	
	#supporters_internal { padding: 20px 0 0 24px; display: inline-block; width: 500px; }
	#supporters_internal p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; }	
	#supporters_internal em { color: #e75405; font-weight: bold; }
	
	#supporters_count { display: inline-block; float: right; width:420px; top: 35px; position: relative; }
	
	
	#google_plus_count { width: 380px; position: relative; float: right;  top: -17px; }
	
	#google_plus_count .numbers_small,
	#facebook_likes_count .numbers_small {
	    position: absolute;
	    bottom: -41px;
	    right: 5px;
	}
	
	#google_count { /*top: -18px;*/ position: relative; }
	
	#facebook_likes_count { width: 380px; position: relative; float: right; top: -34px;  }
	#facebook_count { /*top: -18px;*/ position: relative; }
	
	
	
	#gfb_count_bg {margin: 26px 30px 0px 0px; text-align: right; }
	
	/*.gfb_count { position: relative; right: 30px; top: -49px; }*/
	
	#supporters_count .numbers_medium, 
	#gfb_count .numbers_medium {
	    position: absolute;
	    bottom: 21px;
	    right: 39px;
	}
	






} /* close media query landscape */



/* ============  PORTRAIT STYLES ========================================================================================================================================================== */



 @media only screen and (orientation : portrait) {
 	 #border {
 	    background: url(../images/screen-border.png) scroll no-repeat;
        min-height: 795px;

    }
    
    #container {
    	min-height: 720px;

    }

    
    #wrap {
	    width: 890px;
	    height: 1000px;
	    position: relative;
	    background: url(../images/bg-texture-dark.png) scroll repeat;
	    overflow: hidden;
	    top: 59px;
		left: 47px;
		
	}
    
    #boardcontainer { 
	    background: url(../images/bg-texture-light.png) scroll repeat;
	    width: 890px; 
	    height: 125px;
	    top: 0px;
	    left: 0px;
	    position: absolute; 
	    margin-top: 0; 
	    margin-left: 0; 
	    overflow: visible;
	    z-index: 10;
    
    }
    
    
 /* TWITTER STYLES PORTRAIT */   
    
   
    .twitter { height: 627px; position: relative; overflow: hidden; margin: 10px 0px; width: 909px; top: 135px;}
	/* #twitter_overlay { background: url(../images/twitter_overlay.png) top left no-repeat; display: block; height: 347px; position: absolute; width: 996px; z-index: 3;}    */
/* 	#twitter_overlay_top { background: url(../images/twitter_overlay_top.png) top left no-repeat; display: block; height: 127px; position: absolute; width:889px; z-index: 3; top: 145px; left: 9px; } */
	#twitter_overlay_bottom  { background: url(../images/twitter_overlay_bottom.png) top left no-repeat; display: block; height: 136px; position: absolute; width: 889px; bottom: 255px; z-index: 3; left: 9px } 
	  
	
	.tweet_list { position: relative; top: 0px; }
	
	.unique_tweet { border-bottom: #ccc 2px solid; height: 143px; margin: 0 34px 0 34px; padding: 34px 0 0 0;  position: relative; width: 836px; }
	.unique_tweet li { float: left; list-style: none; position: relative; }
	
	.tweet_info { color: #e75405; font-family: Helvetica, Arial, sans-serif;  font-weight: bold;  font-size: 18px; height: 102px;  margin: 0 0 0 30px; padding: 0 0 0 0;  width: 215px; overflow: hidden; position: relative; }
	.tweet_info ul li { float: left; position: relative; }
	.avatar { margin-right: 7px; }
	.tweet_avatar { float: left; height: 48px; width: 48px; }
	.screenname { position: relative;  clear: right; width: 158px;}
	.username { float: left; }
	.tweet_user { color: #858585; font-weight: normal; text-decoration: none; font-family: Arial, Helvetica, sans-serif;  font-size: 12px; }
	
	
	.tweet{ height: 102px; width: 590px; }	
	.tweet:before { content: url(../images/quote_open.png); float: left; position: relative; width: 25px; height: 17px; } 
	.tweet_text:after { content: url(../images/quote_close.png); position: relative; width: 25px; height: 17px; padding-left: 25px;}
	
	.tweet_text { color: #858585; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; margin: 0 0 0 50px; line-height: 26px; width: 460px; position: absolute; float: right; }
	.external_link { color: #a4bc27; text-decoration: underline; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; }
	.tweet_hashtag { color: #e75405; text-decoration: none;  font: Helvetica, Arial, sans-serif; }
	.at_user { color: #a4bc27; text-decoration: none; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; }
	
	
	#twitter_footer { position: relative; height: 210px; padding: 50px 0px 0px 40px; width: 868px; top: 135px; }
	/* #twitter_footer #twitter_count { position: absolute; width: 300px; top: 0; right: 0px; } */
	#twitter_footer li div span { border-bottom: #cbcbcb 2px solid; padding-right: 233px; font-size: 45px; }
	
	#twitter_headline {
		width: 765px; 
	}
	
	
	
	#social { position: relative; float: left; padding: 20px 0 0 36px; width: 441px}
	#social p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 18px; width: 270px; }
	#social .links { position: relative; float: left; top: 30px; }
	#social .links li { position: relative; float: left; }
	/*
	#social .links a { text-decoration: none; }
	#social .links span { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; position: relative; top: -11px; }
	*/
	
	/* #social img { margin-right: 7px; } */
	#tweet { width: 86px; }
	
	
	
	#twitter_number_count {
		height: 130px; 
		width: 379px;
		float: right;
		position: relative;
		top: 15px;
		text-align: right;
		right: 40px; 
	}
	
	
	#twitter_count_bg {
		margin: 23px 25px 0 0;
		
	}
	
	.tweets_count {
		margin: 0px 17px 0 0;
		position: relative;
		top: -49px; 
	
	}
    
} /* close media query portrait */

 
 
             
/* END OF IMPORTED TABLET BACKGROUND STYLES */             





#intro {
    width: 1004px;
    height: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -501px;
    margin-top: -289px;
    z-index: 20;
}



#header {
	z-index: 10;
}


/*
#boardcontainer { 
    background: url(../images/bg-texture-light.png) scroll repeat;
    width: 996px; 
    height: 76px;
    top: 0px;
    left: 0px;
    position: absolute; 
    margin-top: 0; 
    margin-left: 0; 
    overflow: visible;
    z-index: 10;
    
}
*/


#boardcontainer .left {
	float: left;
    margin-top: 31px;
    margin-left: 30px;
    display:block;
}

#boardcontainer .right {
    position: absolute;
    width: 394px;
    height: 70px;
    top: 0;
    right: -5px;
    overflow: visible;
}

#boardcontainer .rightWrap {
	position: relative;
	width: 100%;
	height: 100%;
    overflow: visible;
}

#boardcontainer .tabs {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 500px;
	height: 28px;
}

#boardcontainer .sharebutton {
	position: absolute;
	top: 15px;
	right: 35px;
	width: 109px;
	height: 22px;
	background: url(../images/share.png) scroll 0 0 no-repeat;
	background-size: 109px 22px;
	overflow: hidden;
}

#boardcontainer .expanded {
    width: 109px;
    height: 156px;
    background: url(../images/share_hover.png) scroll 0 0 no-repeat;
    background-size: 109px 156px;
}

.sharebutton ul {
	margin-top: 36px;
}

.sharebutton ul li a {
	width: 106px;
	height: 26px;
	display: block;
}

.sharebutton .facebook {
	background: url(../images/share_fb.png) scroll no-repeat;
}

.sharebutton .twitter {
	background: url(../images/share_twitter.png) scroll no-repeat;
}

.sharebutton .google {
	background: url(../images/share_google.png) scroll no-repeat;
}

.sharebutton .linkedin {
	background: url(../images/share_linkedin.png) scroll no-repeat;
}

.sharebutton .tumblr {
	background: url(../images/share_tumblr.png) scroll no-repeat;
}

.sharebutton .email {
	background: url(../images/share_email.png) scroll no-repeat;
}








/*
#dynamic {
    width: 996px;
    height: 497px;
    position: relative;
    top: 76px;

    z-index: 1;

}
*/

/*	--------------------------------------------------
    Utility
    -------------------------------------------------- */

.headlineLargeGray {
    font-size: 30px;
    font-family: FranklinGothicURW-HeaIta; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666;
    text-decoration: none;
    line-height: 45px;
    
}


.headlineMediumGray {
    font-size: 21px;
    font-family: 'FranklinGothicURW-HeaIta'; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666; 
    text-decoration: none;
}

.headlineSmallGray {
    font-size: 16px;
    font-family: 'FranklinGothicURW-HeaIta'; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666; 
    text-decoration: none;
}

.smallNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 71px;
    color: #e75406;
/*     margin: 38px 0 48px 0; */
/*     line-height: 75px; */
}

.supportersNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 88px;
    color: #e75406;
/*     margin: 38px 0 48px 0; */
/*     line-height: 75px; */
    text-align: right;

}

.mediumNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 116px;
    color: #e75406;
/*     margin: 38px 0 48px 0; */
/*     line-height: 80px; */
}

.largeNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    /*font-size: 161px;*/
    font-size: 243px;
    color: #e75406;
    height: auto;
/*     margin: 138px 0 48px 18px; */
/*     line-height: 175px; */
}

.largNumbersGrey {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    /*font-size: 161px;*/
    font-size: 243px;
    color: #444;
    height: auto;
    margin: 138px 0 48px 18px;
    line-height: 175px;
    
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
}

.supportersNumbersGrey {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 88px;
    color: #444;
        opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    text-align: right;
    }

.mediumNumbersGrey {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 116px;
    color: #444;
/*     margin: 38px 0 48px 0; */
    line-height: 80px;
    
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
}

.smallNumbersGrey {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 71px;
    color: #444;
    margin: 38px 0 48px 0;
    line-height: 75px;
    
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
}


.tabs {
	font-size: 21px;
    font-family: FranklinGothicURW-HeaIta;
	color: #666666;
	font-weight: normal; 
    font-style: normal;
    text-decoration: none;
    clear: right;
}

.tabs a.active {
	font-size: 21px;
    font-family: FranklinGothicURW-HeaIta;
	color: #e75406;
	font-weight: normal; 
    font-style: normal;
    text-decoration: none;
}

.tabs dl, dd {
	font-size: 21px;
    font-family: FranklinGothicURW-HeaIta;
	color: #666666;
	font-weight: normal; 
    font-style: normal;
    text-decoration: none;
}

.bgTextureLight {
    background: url(../images/bg-texture-light.png) scroll repeat;
}

.bgTextureDark {
    background: url(../images/bg-texture-dark.png) scroll repeat;
}








/*	--------------------------------------------------
    Twitter
    -------------------------------------------------- */




/*	--------------------------------------------------
    Debugging
    -------------------------------------------------- */

/*
div {
    border: 1px dotted red;
}

*/


/*	--------------------------------------------------
    SHARE
    -------------------------------------------------- */

#shareContainer {
    overflow: hidden;
}

#shareContainer .panelBlack {
    -webkit-transition: height 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: height 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: height 0.3s ease-out;  /* Opera 10.5?12.00 */
          transition: height 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

#shareContainer .expanded {
    height: 84px;
    overflow: hidden;
}

#shareContainer .minimized {
    height: 21px;
    overlflow: hidden;
}


/*	--------------------------------------------------
    Numbers
    -------------------------------------------------- */

.numbers_large {
	height: 162px; 
}

.numbers_large li {
	background: url(../images/numbers_sprite_large.png) top left no-repeat;
	float: left;
	height: 162px;
	position: relative;
	text-indent: -9999px; 
	width: 118px;
}

.numbers_large .nil {}
.numbers_large .zero { background-position: 0 -180px;}
.numbers_large .one { background-position: 0 -360px; }
.numbers_large .two { background-position: 0 -540px; }
.numbers_large .three { background-position: 0 -720px; }
.numbers_large .four { background-position: 0 -900px; }
.numbers_large .five { background-position: 0 -1080px; }
.numbers_large .six { background-position: 0 -1260px; }
.numbers_large .seven { background-position: 0 -1440px; }
.numbers_large .eight { background-position: 0 -1620px; }
.numbers_large .nine { background-position: 0 -1800px; }
.numbers_large .comma { background-position: 0 -1964px; right: 12px; top: 12px; width: 24px; }
.numbers_large .comma_gray { background-position: -94px -1964px; right: 12px; top: 12px; width: 24px; }





.numbers_medium {
	height: 79px;
}

.numbers_medium li {
	background: url(../images/numbers_sprite_medium.png) top left no-repeat;
	float: left;
	height: 79px;
	position: relative;
	text-indent: -9999px; 
	width: 58px;
}


.numbers_medium .nil {}
.numbers_medium .zero { background-position: 0 -90px;}
.numbers_medium .one { background-position: 0 -180px; }
.numbers_medium .two { background-position: 0 -270px; }
.numbers_medium .three { background-position: 0 -360px; }
.numbers_medium .four { background-position: 0 -450px; }
.numbers_medium .five { background-position: 0 -540px; }
.numbers_medium .six { background-position: 0 -630px; }
.numbers_medium .seven { background-position: 0 -720px; }
.numbers_medium .eight { background-position: 0 -810px; }
.numbers_medium .nine { background-position: 0 -900px; }
.numbers_medium .comma { background-position: 0 -990px; right: 7px; top: 6px; width: 13px; }
.numbers_medium .comma_gray { background-position: -45 -990px; right: 7px; top: 6px; width: 13px; }






.numbers_small {
	height: 59px;
}

.numbers_small li {
	background: url(../images/numbers_sprite_small.png) top left no-repeat;
	float: left;
	height: 59px;
	position: relative;
	text-indent: -9999px; 
	width: 43px;
}

.numbers_small .nil {}
.numbers_small .zero { background-position: 0 -72px;}
.numbers_small .one { background-position: 0 -144px; }
.numbers_small .two { background-position: 0 -216px; }
.numbers_small .three { background-position: 0 -288px; }
.numbers_small .four { background-position: 0 -360px; }
.numbers_small .five { background-position: 0 -432px; }
.numbers_small .six { background-position: 0 -504px; }
.numbers_small .seven { background-position: 0 -576px; }
.numbers_small .eight { background-position: 0 -648px; }
.numbers_small .nine { background-position: 0 -720px; }
.numbers_small .comma { background-position: 0 -792px; right: 2px; top: 7px; width: 13px; }
.numbers_small .comma_gray { background-position: -30 -792px; right: 7px; top: 6px; width: 13px; }

