/*	--------------------------------------------------
    General
    -------------------------------------------------- */
body {
    background-color: #092134;
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 13px; 
    font-size: 1.3rem; 
    line-height: 18px; 
    color: #555;  
    -webkit-font-smoothing: antialiased;
}


a { color: #666666; text-decoration: none; line-height: inherit; }
a:hover { color: #e75406; }
a:focus { color: #e75406; outline: none; }
p a, p a:visited { line-height: inherit; }

	
	

#background {
    background: url(../images/background.jpg) scroll no-repeat;
/*    background-size: 1920px 1080px;
    background-position: center center;*/
    width: 1920px;
    height: 1080px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -960px;
    margin-top: -568px;
    overflow: hidden;
}

#wrap {
    width: 1004px;
    height: 578px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -328px;
}

#header {
	z-index: 10;
}


#boardcontainer { 
    width: 994px; 
    height: 68px;
    position: absolute; 
    margin-top: 0; 
    margin-left: 0; 
    overflow: visible;
    z-index: 10;
}
/*
#boardcontainer h2 {
    margin-top: 31px;
    margin-left: 33px;
}
*/

#boardcontainer .left {
	float: left;
    margin-top: 32px;
    margin-left: 33px;
    display:block;
}

#boardcontainer .right {
/*
	float: right;
    margin-top: 12px;
    margin-right: 28px;
*/
    position: absolute;
/*     display:block; */
    width: 394px;
    height: 70px;
    top: 0;
    right: -5px;
    overflow: visible;
}

#boardcontainer .rightWrap {
	position: relative;
	width: 100%;
	height: 100%;
    overflow: visible;
}

#boardcontainer .tabs {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 500px;
	height: 28px;
}

#boardcontainer .sharebutton {
	position: absolute;
	top: 15px;
	right: 35px;
	width: 109px;
	height: 20px;
	background: url(../images/share.png) scroll 0 0 no-repeat;
	background-size: 109px 20px;
	overflow: hidden;
}

#boardcontainer .sharebutton:hover {
	width: 109px;
	height: 156px;
	background: url(../images/share_hover.png) scroll 0 0 no-repeat;
}

.sharebutton ul {
	margin-top: 36px;
}

.sharebutton ul li a {
	width: 106px;
	height: 26px;
	display: block;
}

.sharebutton .facebook {
	background: url(../images/share_fb.png) scroll no-repeat;
}

.sharebutton .twitter {
	background: url(../images/share_twitter.png) scroll no-repeat;
}

.sharebutton .google {
	background: url(../images/share_google.png) scroll no-repeat;
}

.sharebutton .linkedin {
	background: url(../images/share_linkedin.png) scroll no-repeat;
}

.sharebutton .tumblr {
	background: url(../images/share_tumblr.png) scroll no-repeat;
}

.sharebutton .email {
	background: url(../images/share_email.png) scroll no-repeat;
}



/*
#boardcontainer .share {
	width: 394px;
	height: 70px;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}

#boardcontainer .share:hover {
	height: 200px;
}

#boardcontainer .sharebutton {
	position: absolute;
	top: 15px;
	right: 35px;
	width: 73px;
	height: 20px;
}



#boardcontainer .dropdown {
	position: absolute;
	top: 20px;
	right: 35px;
	width: 109px;
	height: 203px;
}

#boardcontainer .dropdown {
	background: white;
	width: 106px;
	height: 88px;
}

#boardcontainer .dropdown ul {
	margin-top: 20px;
}

#boardcontainer .share .dropdown li {
	width: 106px;
	height: 26px;
	position: relative;
    display:block;
    overflow: hidden;
}
*/

/*
#boardcontainer .share .dropdown {
	background: white;
	width: 106px;
	height: 88px;
	top: 0;
	right: 0;
	position: absolute;
    display:block;
    overflow: hidden;
}
*/

/*
#boardcontainer .share:hover{
	float: right;
	clear: left;
	width: 106px;
	height: 101px;
	margin-bottom: 2px;
    position: absolute;
    display:block;
    overflow: hidden;
    z-index: 1688;
}

*/





#dynamic {
    width: 1004px;
    height: 504px;
    position: relative;
    top: 74px;
    left: 3px;
    z-index: 1;

}

/*	--------------------------------------------------
    Utility
    -------------------------------------------------- */

.headlineLargeGray {
    font-size: 29px;
    font-family: FranklinGothicURW-HeaIta; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666;
    text-decoration: none;
}

.headlineMediumGray {
    font-size: 20px;
    font-family: 'FranklinGothicURW-HeaIta'; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666; 
    text-decoration: none;
}

.smallNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 75px;
    color: #e75406;
    margin: 38px 0 48px 0;
    line-height: 80px;
}

.mediumNumbersOrange {
	 font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 116px;
    color: #e75406;
    margin: 38px 0 48px 0;
    line-height: 80px;
}

.largeNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 238px;
    color: #e75406;
    height: auto;
    margin: 138px 0 48px 18px;
    line-height: 245px;
}

.tabs {
	font-size: 21px;
    font-family: FranklinGothicURW-HeaIta;
	color: #666666;
	font-weight: normal; 
    font-style: normal;
    text-decoration: none;
    clear: right;
}

.tabs a.active {
	font-size: 21px;
    font-family: FranklinGothicURW-HeaIta;
	color: #e75406;
	font-weight: normal; 
    font-style: normal;
    text-decoration: none;
}

.tabs dl, dd {
	font-size: 21px;
    font-family: FranklinGothicURW-HeaIta;
	color: #666666;
	font-weight: normal; 
    font-style: normal;
    text-decoration: none;
}




/*	--------------------------------------------------
    Numbers
    -------------------------------------------------- */

#screen { 
    display: block; 
    width: 1004px; 
    height: 566px; 
    position: absolute; 
    top: 0;
    left: 0;
}

#screen li { 
    float: left; 
}

#box1 { 
    width: 994px; 
    height: 318px; 
    position: relative; 
    left: 5px; 
    top: 5px;  
}

.bottom { 
    width: 328px; 
    height: 160px; 
    position: relative; 
    margin-top: 10px; 
    margin-left: 5px; 
}

/*	--------------------------------------------------
    Instagram
    -------------------------------------------------- */

#instagram {
    overflow: hidden;
    height: 345px; 
    margin: 10px 0px; 
}

#instagram_footer { background-color: #fff; position: relative; height: 120px; padding: 20px 0px 0px 30px; width: 966px; }
#instagram_footer li div span { border-bottom: #cbcbcb 2px solid; padding-right: 177px; }


#instagram_count {
	position: relative;
	float: right;
}

.photo_count {
	font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 116px;
    color: #e75406;
    margin: 15px 20px 0px 0px;
	
}


#instagram_social { padding: 20px 0 0 36px; width: 495px; positionL: relative; float: left; 
	
}

#instagram_social p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; width: 370px; 
	
}

#instagram_social em { color: #e75405; font-weight: bold; 
	
}

#instagram_button { position: relative; top: -30px;  float: right; }

/*	--------------------------------------------------
    Twitter
    -------------------------------------------------- */

.twitter { background-color: #fff; height: 347px; position: relative; overflow: hidden; margin: 10px 0px; width: 996px; }
/* #twitter_overlay { background: url(../images/twitter_overlay.png) top left no-repeat; display: block; height: 347px; position: absolute; width: 996px; z-index: 3;}    */
#twitter_overlay_top { background: url(../images/twitter_overlay_top.png) top left no-repeat; display: block; height: 127px; position: absolute; width: 996px; z-index: 3; }
#twitter_overlay_bottom  { background: url(../images/twitter_overlay_bottom.png) top left no-repeat; display: block; height: 136px; position: absolute; width: 996px; top: 211px; z-index: 3; } 
  

.tweet_list { position: relative; top: -50px; }

.unique_tweet { border-bottom: #ccc 2px solid; height: 110px; margin: 0 34px 0 34px; padding: 34px 0 0 0;  position: relative; width: 926px; }
.unique_tweet li { float: left; list-style: none; position: relative; }

.tweet_info { color: #e75405; font-family: Helvetica, Arial, sans-serif;  font-weight: bold;  font-size: 18px; height: 102px;  margin: 0 0 0 30px; padding: 0 0 0 0;  width: 215px; overflow: hidden; position: relative; }
.tweet_info ul li { float: left; position: relative; }
.avatar { margin-right: 7px; }
.tweet_avatar { float: left; height: 48px; width: 48px; }
.screenname { position: relative;  clear: right; }
.username { float: left; }
.tweet_user { color: #858585; font-weight: normal; text-decoration: none; font-family: Arial, Helvetica, sans-serif;  font-size: 12px; }


.tweet{ height: 102px; width: 680px; }	
.tweet:before { content: url(../images/quote_open.png); float: left; position: relative; width: 25px; height: 17px; } 
.tweet:after { content: url(../images/quote_close.png); float: right; position: relative; width: 25px; height: 17px; top: 210px; }

.tweet_text { color: #858585; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; margin: 0 0 0 50px; line-height: 26px; width: 580px; position: absolute; float: right; }
.external_link { color: #a4bc27; text-decoration: underline; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; }
.tweet_hashtag { color: #e75405; text-decoration: none;  font: Helvetica, Arial, sans-serif; }
.at_user { color: #a4bc27; text-decoration: none; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; }


#twitter_footer { background-color: #fff; position: relative; height: 120px; padding: 20px 0px 0px 30px; width: 966px; }
#twitter_footer li div span { border-bottom: #cbcbcb 2px solid; padding-right: 177px; }

#social { padding: 20px 0 0 36px; width: 491px}
#social p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; width: 240px; }
#social .links { position: relative; float: right; top: -30px; }
#social .links li { position: relative; float: left; }
#social .links a { text-decoration: none; }
#social .links span { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; position: relative; top: -11px; }

#social img { margin-right: 7px; }
#tweet { margin-right: 20px;  }


/*	--------------------------------------------------
    Supporters
    -------------------------------------------------- */
    
.supporters { height: 497px; width: 997px; }
#supporters_main { height: 367px;  width: 997px; }



#latest_news { background-color: #fff; height: 317px; width: 422px; padding: 30px 30px 0 60px; margin: 10px 10px 10px 0;  position: relative; float: left; }
#latest_header { border-bottom: #cbcbcb 2px solid; padding-bottom: 7px; }

#supporters_follow { float: right; position: relative; top: -25px; }
#facebook_follow { margin: 0px 5px 0px 8px; }
#google_follow { margin: 2px 5px 0px 5px; top: 1px; position: relative; }
#supporters_follow span { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; position: relative; top: -8px; }



#news li { border-bottom: #cbcbcb 1px solid; height: 91px; }



#supporter_numbers { background-color: #fff; position: relative; float: right; height: 317px; width: 415px; padding: 30px 30px 0 30px; margin: 10px 0; }

#google_pluses { height: 159px; width: 415px; }

#google_header { border-bottom: #cbcbcb 2px solid; padding-bottom: 7px; }
#google_pluses li div span { font-size: 24px; font-family: 'FranklinGothicURW-HeaIta';  color: #666666;  text-decoration: none; }
#google_pluses li div { margin: 30px 0 0 0; }

#google_cta { width: 200px;  }
#google_cta img { margin: 0 10px 0 0; }
#google_cta span {position: relative;top: -15px; }


#facebook_likes { height: 158px; width: 415px; }

#facebook_header { border-bottom: #cbcbcb 2px solid; padding-bottom: 7px; }
#facebook_likes li div { margin: 30px 0 0 0; }
#facebook_likes li div span { font-size: 24px; font-family: 'FranklinGothicURW-HeaIta'; color: #666666; text-decoration: none; }

#facebook_cta { width: 200px; }
#facebook_cta img { margin: 0 10px 0 0; }
#facebook_cta span { position: relative; top: -15px; }



#supporters_footer { background-color: #fff; position: relative; height: 110px; width: 967px; padding: 25px 0 0 30px; }

#supporters_footer li div span { border-bottom: #cbcbcb 2px solid; padding: 0 87px 2px 0; }

#supporters_internal { padding: 20px 0 0 36px; }
#supporters_internal p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; }	
#supporters_internal em { color: #e75405; font-weight: bold; }



/*	--------------------------------------------------
    Debugging
    -------------------------------------------------- */

/*
div {
    border: 1px dotted red;
}

*/


/*	--------------------------------------------------
    SHARE
    -------------------------------------------------- */

#shareContainer {
    overflow: hidden;
}

#shareContainer .panelBlack {
    -webkit-transition: height 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: height 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: height 0.3s ease-out;  /* Opera 10.5?12.00 */
          transition: height 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

#shareContainer .expanded {
    height: 84px;
    overflow: hidden;
}

#shareContainer .minimized {
    height: 21px;
    overlflow: hidden;
}


