/*	--------------------------------------------------
    GLOBAL STYLES
    -------------------------------------------------- */
body { font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px; font-size: 1.3rem; line-height: 18px; color: #555; -webkit-font-smoothing: antialiased; }

a { color: #666666; text-decoration: none; line-height: inherit; }
p { font-style: italic; }
a:hover { color: #e75406; }
a:focus { color: #e75406; outline: none; }
p a, p a:visited { line-height: inherit; }

hr { border: solid #cdcdcd; border-width: 1px 0 0; clear: both; margin: 12px 30px 12px 0px; height: 0; }
	
html { background: url(../images/clouds.png) no-repeat center center fixed;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }


#container { width: 100%; height: 100%; position: relative; }
#scaffold {
    background: url(../images/score-base.png) scroll repeat-x;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

    width: 100%;
    height: 23.9%;
    position: fixed;
    top: 100%;
    margin-top: -11%;
    left: 50%;
    margin-left: -50%;
}

#border {
	background: url(../images/screen-border.png) scroll no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
 
    width: 96%;
    min-width: 768px;
    height: 88%;
    position: fixed;
    top: 100%;
    margin-top: -98%;
    left: 27%;
    margin-left: -25%;
    
    z-index: 5;
}

#dynamic {
	background: url(images/backgrounds/bg-texture-dark.png) top left;
    width: 92%;
    min-width: 768px;
    height: 85%;
    position: fixed;
    top: 100%;
    margin-top: -96%;
    left: 27%;

    margin-left: -23%;
    
    overflow: hidden;
     
     z-index: 7;
    

}



#wrap { position: relative; background: url(../images/bg-texture-dark.png) scroll repeat; overflow: hidden; }

#boardcontainer { background: url(../images/bg-texture-light.png) scroll repeat; width: 890px; top: 0px; left: 0px; position: absolute; margin-top: 0; margin-left: 1px; overflow: visible; z-index: 10; }

#boardcontainer .left { float: left; margin-left: 30px; display:block; }
#boardcontainer .right { position: absolute; width: 394px; height: 70px; }
#boardcontainer .rightWrap { position: relative; width: 100%; height: 100%; overflow: visible; }
#boardcontainer .tabs { position: absolute;	left: 0px; height: 28px; }
#boardcontainer .sharebutton { position: absolute; width: 109px; height: 22px; background: url(../images/share.png) scroll 0 0 no-repeat; background-size: 109px 22px; overflow: hidden; }
#boardcontainer .expanded { width: 109px; height: 156px; background: url(../images/share_hover.png) scroll 0 0 no-repeat; background-size: 109px 156px; }		




/* MOVEMENT STYLES GLOBAL */ 

#movement_left { width: 512px; float: left; margin: 10px 10px 0px 0px; position: relative; }

#movement_header { position: relative; padding: 30px 0px 0px 30px; }

#movement_header li div span { border-bottom: #cbcbcb 2px solid; margin: 4px 0px 4px 0px; }

#movement_header li p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin: 25px 0px 0px 25px; }

#movement_header li p a { color: #e75405; font-weight: bold;  }

#movement_steps li { position: relative; float: left; }

#movement_steps li:first-child img { margin-top: 20px; }

#movement_steps li:nth-child(2) img { margin-top: 20px; }

#movement_steps li:nth-child(1) .headline { top: -41px; }

#movement_steps img { margin-top: 15px; }

#movement_steps .headline { position: relative; float: left; margin-left: 45px; top: -25px; }

#movement_steps h3 { font-size: 21px; font-family: 'FranklinGothicURW-HeaIta'; font-weight: normal; font-style: normal; color: #666666; text-decoration: none; }

#movement_steps p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; }

#movement_steps p a { color: #e75405; font-weight: bold; }
	
#poster { margin-top: 10px; width: 379px; position: relative; float: right; overflow: hidden;}



/* TWITTER STYLES GLOBAL */ 

.twitter { position: relative;overflow: hidden; margin: 10px 0px; width: 909px; }

#twitter_overlay_bottom  { background: url(../images/twitter_overlay_bottom.png) top left no-repeat; display: block;  z-index: 3; left: 9px; position: absolute; }

.tweet_list { position: relative; }

.unique_tweet { border-bottom: #ccc 2px solid; margin: 0 34px 0 34px; padding: 34px 0 0 0;  position: relative; width: 836px; }

.unique_tweet li { float: left; list-style: none; position: relative; }

.tweet_info { color: #e75405; font-family: Helvetica, Arial, sans-serif;  font-weight: bold;  font-size: 18px; height: 102px;  margin: 0 0 0 30px; padding: 0 0 0 0;  width: 215px; overflow: hidden; position: relative; }

.tweet_info ul li { float: left; position: relative; }

.avatar { margin-right: 7px; }

.tweet_avatar { float: left; height: 48px; width: 48px; }

.screenname { position: relative;  clear: right; width: 158px;}

.username { float: left; }

.tweet_user { color: #858585; font-weight: normal; text-decoration: none; font-family: Arial, Helvetica, sans-serif;  font-size: 12px; }

.tweet{ height: 102px; width: 590px; }	

.tweet:before { content: url(../images/quote_open.png); float: left; position: relative; width: 25px; height: 17px; } 

.tweet_text:after { content: url(../images/quote_close.png); position: relative; width: 25px; height: 17px; padding-left: 25px; }

.tweet_text { color: #858585; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; margin: 0 0 0 50px; line-height: 26px; width: 530px; position: absolute; float: right; }

.external_link { color: #a4bc27; text-decoration: underline; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; }

.tweet_hashtag { color: #e75405; text-decoration: none;  font: Helvetica, Arial, sans-serif; }

.at_user { color: #a4bc27; text-decoration: none; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; }

#twitter_footer { position: relative; width: 868px; }	

#twitter_footer li div span { border-bottom: #cbcbcb 2px solid; }

#social { position: relative; float: left; }

#social p { color: #767676; font-family: Arial, Helvetica, sans-serif; }

#social .links { position: relative; float: right; }

#social .links li { position: relative; float: left; }

#twitter_number_count { height: 130px; width: 379px; float: right; position: relative; float: right; }

/* .tweets_count { margin: 0px 17px 0 0; position: relative; top: -49px; } */






/* SUPPORTERS STYLES GLOBAL */

#facebook_likes {margin: 10px 10px 0px 0px; padding: 20px 0px 0px 35px; position: relative; float: left; }

#facebook_likes li { float: left; }

#facebook_header { border-bottom: #cbcbcb 2px solid; padding-bottom: 7px; }

#facebook_like_button { height: 96px; }

#facebook_cta { margin: 27px 0px 0px 0px; width: 51px; overflow: hidden; }

#facebook_likes_count { position: relative; float: right; top: -34px;}  

#facebook_count { /*top: -18px;*/ position: relative; }



#google_pluses li { float: left; }

/* #google_header { border-bottom: #cbcbcb 2px solid; padding-bottom: 7px; width: 379px;  } */

#google_cta { margin: 27px 0px 0px 0px; width: 49px;  width: 39px;  }

#google_plus_count { position: relative; float: right;  top: -17px; }

#google_count { /*top: -18px;*/ position: relative; }

#google_plus_count .numbers_small,

#facebook_likes_count .numbers_small { position: absolute;  bottom: -41px; right: 5px; }

/* google post styles - will need to be styles for tablet */
#gfb_count_bg { margin: 26px 30px 0px 0px; text-align: right; }
#supporters_count .numbers_medium, 
#gfb_count .numbers_medium { position: absolute; bottom: 21px; right: 39px; }
#plus_post { position: relative; top: 35px; height: 400px; width: 370px; border: #ccc 1px solid; padding: 10px 0px 0px 10px; }
#plus_post div img {float: left; margin: 0px 10px 10px 0px; height: 80%; }
#plus_post div h3 { padding-left: 5px; font-size: 18px; font-family: 'FranklinGothicURW-HeaIta'; font-weight: normal; font-style: normal; color: #e75405; text-decoration: none; }
#plus_post div p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; width: 220px; margin-right: 5px;  float: right; text-align: left; position: relative; }





/* ============  LANDSCAPE STYLES ========================================================================================================================================================== */

@media only screen and (orientation : landscape) {

 /* BACKGROUND AND HEADER STYLES LANDSCAPE */      
    
    #border { min-height: 570px; }
    #container { min-height: 565px; }
    #wrap { width: 909px; height: 566px; top: 30px; left: 46px; }

    #boardcontainer { height: 76px; }
    
    #boardcontainer .left { margin-top: 18px; }
	#boardcontainer .right { top: 0; right: -5px; }
	#boardcontainer .tabs { bottom: -5px; width: 500px; }
	#boardcontainer .sharebutton { top: 15px; right: 35px; }
	#boardcontainer .expanded { width: 109px; height: 156px; background: url(../images/share_hover.png) scroll 0 0 no-repeat; background-size: 109px 156px; }
        
    /* INTRO ANIMATION */   

    #intro { width: 909px; height: 536px; position: absolute; top: 50%; left: 50%; margin-left: -469px; margin-top: -279px; z-index: 20; background: url(../images/bg-texture-light.png) scroll repeat; }
    #introWrap { position: relative; top: 0; left: 0; }
    #intro .introItem { position: absolute; top: 0; left: 0; }
    #intro img { width: 909px; height: 536px; }
    .hidden { opacity: 0; }


 /* MOVEMENT STYLES LANDSCAPE */   
     
    #movement_left { width: 502px; height: 456px; top: 78px; left: 8px;}
   	#movement_header { width: 468px; height: 137px; padding: 18px 0px 0px 12px; }
	#movement_header li div span { font-size: 25px; }
	#movement_header li p { width: 420px; }
	#movement_steps { padding: 0px 0px 0px 37px; }
	#movement_steps li { border-bottom: #ccc 2px solid; height: 87px;  width: 427px;  padding: 8px 0px 0px 0px; }
	#movement_steps li:first-child { border-top: #ccc 2px solid; }
	#movement_steps li:first-child img { margin-top: 20px; }
	#movement_steps li:nth-child(2) img { margin-top: 12px; }
	#movement_steps li:nth-child(3) img { margin-top: 21px; }
	
	#movement_steps li:nth-child(1) { height: 77px; top: -12px; }
	#movement_steps li:nth-child(1) .headline { top: -28px; } 
	#movement_steps li:nth-child(2) .headline { top: -33px; }
	#movement_steps li:nth-child(3) .headline { top: -46px; margin-top: 8px; } 
	.right { float: right; position: relative; right: -135px; top: -46px; margin: 0 0 0 10px;  }
	#poster { height: 456px; top: 78px; right: 5px; }

	
     
       
       
 /* TWITTER STYLES LANDSCAPE */   
 
    .twitter { width: 890px; height: 341px; top: 80px; left: 8px;}
	#twitter_overlay_top { background: url(../images/twitter_overlay_top.png) bottom left no-repeat; display: block; height: 107px; position: absolute; width:888px; z-index: 3; top: 90px; left: 9px; }
	#twitter_overlay_bottom  { height: 106px; width: 888px; bottom: 118px; } 
	.tweet_list { top: -50px; }
	.unique_tweet { height: 110px; }	
	.tweet:after { top: 210px; }
	#twitter_footer { width: 888px; height: 91px; padding: 18px 0px 0px 18px; margin-left: 8px; top: 80px; }
	#twitter_footer li div span { padding-right: 123px; }
	#twitter_headline { width: 490px; }
	#social { padding: 16px 0 0 24px; width: 341px}
	#social p { font-size: 14px; width: 230px; }
	#social .links { top: -20px; }
	#tweet { width: 86px; }
	#twitter_number_count { margin: 0px 18px 0px 0px; float: right; }
	.numbers_medium { margin: -28px 0px 0px 0px; }
	.tweets_count {	margin: 0px 25px 0 0; position: relative; top: -50px; right: 0; float: right; }


/* SUPPORTERS STYLES LANDSCAPE */  
 
  	.supporters { height: 497px; width: 890px; }
	#supporters_main { height: 367px;  width: 997px; }
	#supporter_numbers { position: relative; float: right; height: 347px; width: 475px;  margin: 10px 0; }
	#facebook_likes { height: 328px; width: 409px; top: 78px; left: 8px; margin-right: 18px; }
	#facebook_header { width: 379px; }
	#facebook_likes_count { width: 385px; position: relative; float: right; top: -19px;  }
	#facebook_count { /*top: -18px;*/ position: relative; }
	
	#google_pluses { height: 328px; width: 409px; margin: 10px 0px 0px 0px; padding: 20px 0px 0px 27px; position: relative; float: left; top: 78px; }
    #google_plus_count { width: 385px; top: -18px; }
    #google_header { border-bottom: #cbcbcb 2px solid; padding-bottom: 7px; width: 379px;  }
	
	#supporters_footer { background-color: #fff; position: relative; width: 860px; height: 80px; padding: 15px 0 0 30px; margin: 0px 6px 6px 8px; top: 80px; }
	#supporters_footer li div span { border-bottom: #cbcbcb 2px solid; padding: 4px 0px 4px 0px; }
	#supporters_internal { padding: 20px 0 0 24px; display: inline-block; width: 500px; }
	#supporters_internal p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; }	
	#supporters_internal em { color: #e75405; font-weight: bold; }
	#supporters_count { display: inline-block; float: right; width:420px; top: 32px; position: relative; }

	#plus_post { position: relative; background-color: #fff;  top: 70px; height: 127px;  width: 370px; border: #ccc 1px solid; padding: 15px 0px 0px 15px; overflow: hidden; }


	
	#plus_post ul { position: relative; float: left; }
	#plus_post ul li { position: relative; float: left; }
	#plus_post ul:nth-child(1) { }
	#plus_post ul:nth-child(1) li span img { height: 75%; }
	#plus_post ul:nth-child(2) { margin-left: 90px; top: -98px; width: 275px;}
	#plus_post ul:nth-child(2) li h3 { font-size: 15px; font-family:  Arial, Helvetica, sans-serif; font-weight: bold; font-style: italic; color: #666666; }
	#plus_post ul:nth-child(2) li h4 { font-size: 14px; font-family:  Arial, Helvetica, sans-serif; font-weight: bold; color: #e75405; }
	#plus_post ul:nth-child(2) li p { color: #767676;  font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
	#plus_post ul:nth-child(3) li span { color: #767676;  font-family: Arial, Helvetica, sans-serif; font-style: italic; font-size: 10px; }
	

	#facebook_box { background-color: #fff; height: 145px; overflow: hidden; border: #ccc 1px solid; width: 370px; position: relative; top: 25px; }
	#facebook_box_inner { position: relative; top: -1px; left: -2px;  }



/*	NUMBERS STYLES LANDSCAPE */

	#screen { display: block; width: 890px; height: 492px; position: absolute; top: 0; left: 0; }
	#screen li { float: left; }
	.tweet_banner { display: inline-block; width: 890px; height: 157px; position: relative; }
	#box1 { width: 890px; height: 288px; position: relative; margin: 88px 0px 10px 8px;	}
	#box1 .headlineMediumGray { position: absolute; top: 18px; left: 30px; }
	#total { margin: 178px 0 0 21px; }
	#totalBG { margin: 98px 0 0 52px; }
	#box1 .numbers_large { position: absolute; bottom: 48px; right: 8px; }
	#box1 #total, #box1 .largNumbersGrey { /*position: absolute;*/ width: 899px; text-align: right; direction: rtl; text-align: justify; white-space: pre;
	}
	
	#box2 { /*margin: 0px 5px 0px 0px;*/ /*overflow: hidden;*/ /*width: 998px;*/ }
	
	/*#box2 .numbers_small,*/
	/*#box3 .numbers_small,
	#box4 .numbers_small {*/
	.trainCompartment .numbers_small{ position: absolute; bottom: 18px; right: 8px; }
	
	/* .trainCompartment:hover { background-color: white; } */
	
	/*#box2 span, #box2 img, #box2 hr,*/
	/*#box3 span, #box3 img, #box3 hr,*/
	/*#box4 span, #box4 img, #box4 hr {*/
	.trainCompartment hr, .trainCompartment span, .trainCompartment img { position: absolute; }
	
	.trainCompartment span { font-size: 23px; } 
	
	.train { position: relative; top: 0; left: 8px; width: 9999px; height: 155px; }
	
	.trainCar .tweet_list { top: 0; width: 890px; }
	
	.trainCompartmentLong { position: relative; display: block; width: 890px; height: 158px; background: url(../images/bg-texture-light.png) scroll repeat; margin-left: 18px; margin-right: 10px; float: left; overflow: hidden; }
	
	.trainCompartmentLong img { max-width: 890px; }
		
	
	
	
	.trainCompartment { float: left; width: 290px; height: 158px; position: relative; display: block; background: url(../images/bg-texture-light.png) scroll repeat;  margin-left: 10px; }
		
	.trainCompartment:first-child,
	.trainCompartmentLong:first-child{ margin-left: 0px; }
	
	/*#box3 {
		margin: 0px 5px 0px 5px;
	}
	
	#box4 {
		margin: 0px 0px 0px 5px;
		padding-right: 1px;
	}*/
	
	.countGrey { display: inline; top: 68px; left: 34px; margin: 0; width: 263px; direction: rtl; text-align: justify; white-space: pre; }
	.countOrange { display: inline; top: 107px; left: 34px; margin: 0; width: 263px; direction: rtl; text-align: justify; white-space: pre; }
	.smallBoxHeading { top: 18px; left: 18px; }
	.smallBoxIcon { top: 18px; left: 258px;	}
	.smallBoxIconLeft { top: 18px; left: 238px; }
	.smallBoxHR { top: 38px; left: 18px; width: 268px; }
	.bottom, .bottom a { width: 296px; height: 155px; position: relative; display: block; }
	
		

/*	INSTAGRAM STYLES LANDSCAPE */
	
	#instagram { overflow: hidden; width: 890px; height: 345px;  margin: 88px 0px 8px 8px; }
	
	#instagram_footer { position: relative; width: 890px; height: 110px; padding: 10px 0px 0px 18px; margin: 0px 0px 0px 8px; }
	#instagram_footer li div span { border-bottom: #cbcbcb 2px solid; padding-right: 177px; }

	#instagram_count { position: relative; float: right; width: 363px; display: inline-block; margin-top: 8px; margin-right: 28px; }
	
	#instagram_count .mediumNumbersOrange,
	#instagram_count .mediumNumbersGrey { position: absolute; top: -30px; right: 0; text-align: right; direction: rtl; text-align: justify; white-space: pre; }
	
	.photo_count { font-family: 'ds-digitalitalic', Arial, sans-serif; font-size: 116px; color: #e75406; margin: 0px 0px 0px 0px; }
	
	#instagram_social { padding: 16px 0 0 25px; width: 408px; positionL: relative; float: left; }
	
	#instagram_social p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; width: 308px; }
	#instagram_social p a { color: #e75405; font-weight: bold;}
	#instagram_social em { color: #e75405; font-weight: bold; }
	#instagram_button { position: relative; top: -30px;  float: right; }
	
	.instagram_photo_count { margin: 28px 0px 0px 0px; }


 
} /* close media query landscape */



/* ============  PORTRAIT STYLES ========================================================================================================================================================== */

@media only screen and (orientation : portrait) {
 
	/* BACKGROUND AND HEADER STYLES LANDSCAPE */  
    
	#border { min-height: 795px; }
	#container { min-height: 720px; }
	#wrap { width: 890px; height: 1000px; top: 59px; left: 47px; }
	#boardcontainer { height: 125px; }
	#boardcontainer .left .headlineLargeGray { font-size: 60px; }
	#boardcontainer .left { margin-top: 24px; }
	#boardcontainer .right { top: 30px; left: 30px; }
	#boardcontainer .tabs { top: 58px; width: 668px; font-size: 30px; }
	#boardcontainer .tabs a.active { font-size: 30px; }
	#boardcontainer .tabs dl, dd { font-size: 30px; }
	#boardcontainer .sharebutton {  top: 56px; left: 708px; }
        
        
        
        /* INTRO ANIMATION */   
        
        #intro { width: 900px; height: 990px; position: absolute; top: 50%; left: 50%; margin-left: -439px; margin-top: -510px; z-index: 20; background: url(../images/bg-texture-light.png) scroll repeat; text-align: center; vertical-align: middle; }
        #introWrap { position: relative; top: 0; left: 0; }
        #intro .introItem { position: absolute; top: 0; left: 0; }
        #intro img { width: 890px; position: absolute; top: 200px; }
        .hidden { opacity: 0; }
	
	
	
	/* MOVEMENT STYLES PORTRAIT */   
    
    #movement_left { height: 700px; top: 133px; background: none; margin: 10px 0px 0px 8px; }

	#movement_header { height: 158px; width: 859px; margin-bottom: 10px; padding-top: 38px;  }
	#movement_header li div span { font-size: 45px;  padding-right: 30px; }
	#movement_header li p { font-size: 24px; line-height: 27px; width: 730px; }
	#movement_steps { position: relative; }
	#movement_steps li { height: 162px; width: 458px; padding: 45px 0px 0px 38px; margin-bottom: 10px; font-size: 23px; }	
	#movement_steps li:nth-child(1) .headline { top: -28px; width: 450px; } 
	#movement_steps li:nth-child(2) .headline { top: -30px; }
	#movement_steps li:nth-child(3) .headline { top: -30px; width: 350px; }
	
	#movement_steps li:first-child img { margin-top: 28px; }
	#movement_steps li:nth-child(2) img { margin-top: 32px; }
	#movement_steps li:nth-child(3) img { margin-top: 30px; }
	
	#movement_steps .headline { width: 300px; }
	#movement_steps .headline h3 {font-size: 21px; line-height: 23px; }
	#movement_steps p { font-size: 18px; width: 350px; line-height: 23px; }
	.right { position: absolute; left: 5px; bottom: -40px;  }
	.right .facebook { margin-left: 45px; }
	.right .google { margin-left: 90px; }
	#poster { background-color: #fff; height: 590px; width: 372px; top: 339px; right: 0px; overflow: hidden; float: right; padding-top: 50px; }
	#poster img { max-width: 358px; }

    
	/* TWITTER STYLES PORTRAIT */   
    
    .twitter { height: 620px; width: 888px; top: 135px; margin: 10px 0px 10px 8px; }
	#twitter_overlay_bottom  {height: 136px;  width: 889px; bottom: 242px; }   
	.tweet_list { top: 0px; }
	.unique_tweet { height: 143px; }
	.tweet:after { padding-left: 25px;}
	#twitter_footer { height: 178px; width: 888px; padding: 38px 0px 0px 28px; top: 135px; margin: 0px 0px 0px 8px; }
	#twitter_footer li div span { padding-right: 248px; font-size: 45px; }
	#twitter_headline { width: 765px; }
	#social { padding: 20px 0 0 21px; width: 418px}
	#social p { font-size: 18px; width: 270px; }
	#social .links { top: 30px; float: left; }
	#tweet { width: 86px; }
	#twitter_number_count { top: 38px; right: 58px; }
	.tweets_count {	margin: 0px 25px 0 0; position: relative; top: -76px; right: 0; float: right; }
	
	/* SUPPORTERS STYLES PORTRAIT */ 
  
	.supporters { height: 997px; width: 909px; }
	#supporters_main { height: 667px;  width: 909px; }
	#facebook_likes { width: 421px; height: 625px; top: 135px; margin: 10px 0px 0px 8px; padding: 18px 0px 0px 18px; position: relative; float: left; }
	#facebook_header { width: 398px; }
	#facebook_likes_count { width: 388px; position: relative; float: right; top: -18px;  }
	#facebook_count { /*top: -18px;*/ position: relative; }
	
	#google_pluses { width: 422px; height: 625px; top: 135px; margin: 10px 0px 0px 10px; padding: 18px 0px 0px 18px; position: relative; float: left;}
	#google_plus_count { width: 388px; top: -18px; }
	#google_header { border-bottom: #cbcbcb 2px solid; padding-bottom: 7px; width: 398px; }
	
	#supporters_footer { position: relative; height: 168px; padding: 38px 0px 0px 28px; width: 868px; top: 130px; margin: 0px 0px 0px 8px; }
	#supporters_footer li div span { border-bottom: #cbcbcb 2px solid; padding-right: 198px; font-size: 45px;  }
	#supporters_internal { padding: 20px 0 0 24px; display: inline-block; width: 500px; }
	#supporters_internal p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 18px; }	
	#supporters_internal em { color: #e75405; font-weight: bold; }
	#supporters_count { display: inline-block; float: right; width:420px; top: 90px; position: relative; }



	#plus_post { background-color: #fff; position: relative; top: 65px; height: 450px; width: 398px; border: #ccc 1px solid; padding: 10px 0px 0px 10px; }
	#plus_post div img {float: left; margin: 0px 10px 10px 0px; height: 80%; max-width: 388px; }
	#plus_post div h3 { padding-left: 5px; font-size: 18px; font-family: 'FranklinGothicURW-HeaIta'; font-weight: normal; font-style: normal; color: #e75405; text-decoration: none; }
	#plus_post div p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; width: 220px; margin: 5px 5px 5px 5px; float: left; text-align: left; position: relative; }
	#plus_post div span { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 12px; bottom: 5px; position: absolute; margin: 5px 5px 5px 5px;  }	

	#facebook_box { background-color: #fff; width: 398px; height: 450px; overflow: hidden; border: #ccc 1px solid; position: relative; top: 20px; padding: 10px 0px 0px 10px; }
	#facebook_box_inner { position: relative; top: -1px; left: -2px; }


	
	#google_pluses { width: 422px; height: 625px; top: 135px; margin: 10px 0px 0px 10px; padding: 18px 0px 0px 18px; position: relative; float: left;}
    #google_plus_count { width: 388px; top: -18px; }
    #google_header { border-bottom: #cbcbcb 2px solid; padding-bottom: 7px; width: 398px; }
	
	
	#plus_post { position: relative; background-color: #fff;  top: 70px; height: 427px;  width: 390px; border: #ccc 1px solid; padding: 15px 0px 0px 15px; }

	#plus_post ul { position: relative; float: left; }
	#plus_post ul li { position: relative; float: left; }
	#plus_post ul:nth-child(1) { }
	#plus_post ul:nth-child(1) li span img { height: 25%; }
	#plus_post ul:nth-child(2) { margin-left: 100px; top: -113px; width: 280px;}
	#plus_post ul:nth-child(2) li h3 { font-size: 15px; font-family:  Arial, Helvetica, sans-serif; font-weight: bold; font-style: italic; color: #666666; }
	#plus_post ul:nth-child(2) li h4 { font-size: 14px; font-family:  Arial, Helvetica, sans-serif; font-weight: bold; color: #e75405; }
	#plus_post ul:nth-child(2) li p { color: #767676;  font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
	#plus_post ul:nth-child(3) li span { color: #767676;  font-family: Arial, Helvetica, sans-serif; font-style: italic; font-size: 10px; }
		
	
	


	/* INSTAGRAM STYLES PORTRAIT */
	
	#instagram { overflow: hidden; height: 675px; margin: 80px 0px 0px 8px; width: 888px; top: 65px; position: relative; }
	
	#instagram_footer { position: relative; height: 158px; padding: 28px 0px 0px 28px; width: 888px; top: 75px; margin: 0 0 0 8px; }
	#instagram_footer li div span { border-bottom: #cbcbcb 2px solid; padding-right: 0px; font-size: 45px;  }
		
	#instagram_count { position: relative; float: right; width: 363px; display: inline-block; margin-top: -78px; margin-right: 38px; }
	
	#instagram_count .mediumNumbersOrange,
	#instagram_count .mediumNumbersGrey { position: absolute; top: 41px; right: 0; text-align: right; direction: rtl; text-align: justify; white-space: pre;	}
	
	.photo_count { font-family: 'ds-digitalitalic', Arial, sans-serif; font-size: 116px; color: #e75406; margin: 0px 0px 0px 0px; }
	
	
	#instagram_social { padding: 16px 0 0 25px; width: 488px; position: relative; float: left; }
	
	#instagram_social p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 18px; width: 330px; }
	
	#instagram_social p a { color: #e75405; font-weight: bold;}
	
	#instagram_social em { color: #e75405; font-weight: bold; }
	
	#instagram_button { position: relative; top: -30px; right: 88px; float: right; }
	
	.instagram_photo_count { margin: -40px 0px 0px 0px; }




/*	--------------------------------------------------
    Numbers
    -------------------------------------------------- */

	#screen {
	    display: block; 
	    width: 909px; 
	    height: 909px; 
	    position: absolute; 
	    top: 0;
	    left: 0;
	    overflow: hidden;
	}
	
	#screen li { 
	    float: left;
	    overflow: hidden;
	}
	
	
	.tweet_banner { display: inline-block; width: 909px; height: 157px; position: relative; }
	/*#box2:hover, #box3:hover, #box4:hover  {
	    background: white;
	}*/
	
	#box1 { 
	    width: 909px; 
	    height: 318px; 
	    position: relative; 
	    margin: 145px 0px 10px 0px;
	}
	
	#box1 .headlineMediumGray {
	    position: absolute;
	    top: 44px;
	    left: 30px;
	}
	
	#total {
		margin: 178px 0 0 52px;
	}
	
	#totalBG {
			margin: 98px 0 0 52px;
	}
	
	#box1 .numbers_large {
	    position: absolute;
	    bottom: 50px;
	    right: 50px;
	}
	
	#box1 #total, #box1 .largNumbersGrey {
	    /*position: absolute;*/
	    width: 899px;
	    text-align: right;    
	    direction: rtl;
	    text-align: justify;
	    white-space: pre;
	}
	
	#box2 {
	    /*margin: 0px 5px 0px 0px;*/
	    /* overflow: hidden; */
	    /*width: 998px;*/
	}
	
	/*#box2 .numbers_small,*/
	/*#box3 .numbers_small,
	#box4 .numbers_small {*/
	.trainCompartment .numbers_small{
	    position: absolute;
	    bottom: 18px;
	    right: 8px;
	}
	
	/* .trainCompartment:hover { background-color: white; } */
	
	/*#box2 span, #box2 img, #box2 hr,*/
	/*#box3 span, #box3 img, #box3 hr,*/
	/*#box4 span, #box4 img, #box4 hr {*/
	.trainCompartment hr, .trainCompartment span, .trainCompartment img {
	    position: absolute;
	}
	
	.trainCompartment span { font-size: 23px;  } 
	
	.train {
	    position: relative;
	    top: 0;
	    left: 0;
	    width: 9999px;
	    height: 155px;
	}
	
	.trainCar .tweet_list {
	    top: 0;
	}
	
	.trainCompartmentLong {
	    position: relative;
	    display: block;
	    width: 909px;
	    height: 155px;
	    background: url(../images/bg-texture-light.png) scroll repeat;
	    margin-left: 10px;
	    margin-right: 10px;
	    float: left;
	    overflow: hidden;
	}
	
	.trainCompartment {
	    float: left;
	    width: 600px;
	    height: 155px;
	    position: relative;
	    display: block;
	    background: url(../images/bg-texture-light.png) scroll repeat;
	    margin-left: 10px;
	    overflow: hidden;
	}
	
	.trainCompartment:first-child,
	.trainCompartmentLong:first-child{
	    margin-left: 0px;
	}
	
	/*#box3 {
		margin: 0px 5px 0px 5px;
	}
	
	#box4 {
		margin: 0px 0px 0px 5px;
		padding-right: 1px;
	}*/
	
	.countGrey {
	    display: inline;
	    top: 78px;
	    left: 34px;
	    margin: 0;
	    width: 263px;
	    direction: rtl;
	    text-align: justify;
	    white-space: pre;
	}
	
	.countOrange {
	    display: inline;
	    top: 107px;
	    left: 34px;
	    margin: 0;
	    width: 263px;
	    direction: rtl;
	    text-align: justify;
	    white-space: pre;
	}
	
	.smallBoxHeading {
	    top: 30px;
	    left: 30px;
	}
	
	.smallBoxIcon {
	    top: 31px;
	    left: 277px;
	}
	
	.smallBoxIconLeft {
	    top: 31px;
	    left: 254px;
	}
	
	.smallBoxHR {
	    top: 47px;
	    left: 28px;
	    width: 268px;
	
	}
	
	.bottom, .bottom a { 
	    width: 325px; 
	    height: 155px; 
	    position: relative;
	    display: block;
	}
	
		
/* END OF NUMBERS */




    
} /* close media query portrait */



/*==========================================================
			GLOBAL CSS
==========================================================*/



#header {
	z-index: 10;
}


.sharebutton ul {
	margin-top: 36px;
}

.sharebutton ul li a {
	width: 106px;
	height: 26px;
	display: block;
	margin: 12px 0px 12px 0px;
}

.sharebutton .facebook {
	background: url(../images/share_fb.png) scroll no-repeat;
}

.sharebutton .twittertweet {
	background: url(../images/share_twitter.png) scroll no-repeat;
}

.sharebutton .google {
	background: url(../images/share_google.png) scroll no-repeat;
}

.sharebutton .linkedin {
	background: url(../images/share_linkedin.png) scroll no-repeat;
}

.sharebutton .tumblr {
	background: url(../images/share_tumblr.png) scroll no-repeat;
}

.sharebutton .email {
	background: url(../images/share_email.png) scroll no-repeat;
}




/*	--------------------------------------------------
    Utility
    -------------------------------------------------- */

.headlineLargeGray {
    font-size: 30px;
    font-family: FranklinGothicURW-HeaIta; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666;
    text-decoration: none;
    line-height: 45px;
    
}




.headlineMediumGray {
    font-size: 21px;
    font-family: 'FranklinGothicURW-HeaIta'; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666; 
    text-decoration: none;
}

.headlineSmallGray {
    font-size: 16px;
    font-family: 'FranklinGothicURW-HeaIta'; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666; 
    text-decoration: none;
}

.smallNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 71px;
    color: #e75406;
/*     margin: 38px 0 48px 0; */
/*     line-height: 75px; */
}

.supportersNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 88px;
    color: #e75406;
/*     margin: 38px 0 48px 0; */
/*     line-height: 75px; */
    text-align: right;

}

.mediumNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 116px;
    color: #e75406;
/*     margin: 38px 0 48px 0; */
/*     line-height: 80px; */
}

.largeNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    /*font-size: 161px;*/
    font-size: 243px;
    color: #e75406;
    height: auto;
/*     margin: 138px 0 48px 18px; */
/*     line-height: 175px; */
}

.largNumbersGrey {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    /*font-size: 161px;*/
    font-size: 243px;
    color: #444;
    height: auto;
    margin: 138px 0 48px 18px;
    line-height: 175px;
    
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
}

.supportersNumbersGrey {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 88px;
    color: #444;
        opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    text-align: right;
    }

.mediumNumbersGrey {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 116px;
    color: #444;
/*     margin: 38px 0 48px 0; */
    line-height: 80px;
    
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
}

.smallNumbersGrey {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 71px;
    color: #444;
    margin: 38px 0 48px 0;
    line-height: 75px;
    
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
}


.tabs {
	font-size: 21px;
    font-family: FranklinGothicURW-HeaIta;
	color: #666666;
	font-weight: normal; 
    font-style: normal;
    text-decoration: none;
    clear: right;
}

.tabs a.active {
	font-size: 21px;
    font-family: FranklinGothicURW-HeaIta;
	color: #e75406;
	font-weight: normal; 
    font-style: normal;
    text-decoration: none;
}

.tabs dl, dd {
	font-size: 21px;
    font-family: FranklinGothicURW-HeaIta;
	color: #666666;
	font-weight: normal; 
    font-style: normal;
    text-decoration: none;
}

.bgTextureLight {
    background: url(../images/bg-texture-light.png) scroll repeat;
}

.bgTextureDark {
    background: url(../images/bg-texture-dark.png) scroll repeat;
}










/*	--------------------------------------------------
    SHARE
    -------------------------------------------------- */

#shareContainer {
    overflow: hidden;
}

#shareContainer .panelBlack {
    -webkit-transition: height 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: height 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: height 0.3s ease-out;  /* Opera 10.5?12.00 */
          transition: height 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

#shareContainer .expanded {
    height: 84px;
    overflow: hidden;
}

#shareContainer .minimized {
    height: 21px;
    overlflow: hidden;
}


/*	--------------------------------------------------
    Numbers
    -------------------------------------------------- */

.numbers_large {
	height: 162px; 
}

.numbers_large li {
	background: url(../images/numbers_sprite_large.png) top left no-repeat;
	float: left;
	height: 162px;
	position: relative;
	text-indent: -9999px; 
	width: 118px;
}

.numbers_large .nil {}
.numbers_large .zero { background-position: 0 -180px;}
.numbers_large .one { background-position: 0 -360px; }
.numbers_large .two { background-position: 0 -540px; }
.numbers_large .three { background-position: 0 -720px; }
.numbers_large .four { background-position: 0 -900px; }
.numbers_large .five { background-position: 0 -1080px; }
.numbers_large .six { background-position: 0 -1260px; }
.numbers_large .seven { background-position: 0 -1440px; }
.numbers_large .eight { background-position: 0 -1620px; }
.numbers_large .nine { background-position: 0 -1800px; }
.numbers_large .comma { background-position: 0 -1964px; right: 12px; top: 12px; width: 24px; }
.numbers_large .comma_gray { background-position: -94px -1964px; right: 12px; top: 12px; width: 24px; }





.numbers_medium {
	height: 79px;
}

.numbers_medium li {
	background: url(../images/numbers_sprite_medium.png) top left no-repeat;
	float: left;
	height: 79px;
	position: relative;
	text-indent: -9999px; 
	width: 58px;
}


.numbers_medium .nil {}
.numbers_medium .zero { background-position: 0 -90px;}
.numbers_medium .one { background-position: 0 -180px; }
.numbers_medium .two { background-position: 0 -270px; }
.numbers_medium .three { background-position: 0 -360px; }
.numbers_medium .four { background-position: 0 -450px; }
.numbers_medium .five { background-position: 0 -540px; }
.numbers_medium .six { background-position: 0 -630px; }
.numbers_medium .seven { background-position: 0 -720px; }
.numbers_medium .eight { background-position: 0 -810px; }
.numbers_medium .nine { background-position: 0 -900px; }
.numbers_medium .comma { background-position: 0 -990px; right: 7px; top: 6px; width: 13px; }
.numbers_medium .comma_gray { background-position: -45px -990px; right: 7px; top: 6px; width: 13px; }






.numbers_small {
	height: 59px;
}

.numbers_small li {
	background: url(../images/numbers_sprite_small.png) top left no-repeat;
	float: left;
	height: 59px;
	position: relative;
	text-indent: -9999px; 
	width: 43px;
}

.numbers_small .nil {}
.numbers_small .zero { background-position: 0 -72px;}
.numbers_small .one { background-position: 0 -144px; }
.numbers_small .two { background-position: 0 -216px; }
.numbers_small .three { background-position: 0 -288px; }
.numbers_small .four { background-position: 0 -360px; }
.numbers_small .five { background-position: 0 -432px; }
.numbers_small .six { background-position: 0 -504px; }
.numbers_small .seven { background-position: 0 -576px; }
.numbers_small .eight { background-position: 0 -648px; }
.numbers_small .nine { background-position: 0 -720px; }
.numbers_small .comma { background-position: 0 -792px; right: 2px; top: 7px; width: 13px; }
.numbers_small .comma_gray { background-position: -30px -792px; right: 7px; top: 6px; width: 13px; }

/*	--------------------------------------------------
    Twitter banner
    -------------------------------------------------- */

.tweet_banner { display: inline-block; width: 1004px; height: 157; position: relative; }
.tweet_banner > * { color: #666; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; line-height: 26px; font-style: normal; }
.tweet_banner a { color: inherit; text-decoration: none; color: #e75405; }
.tweet_banner li { float: left; display: inline-block; position: absolute; }
.tweet_banner .tweet_profile_img { top: 25%; left: 4%; }
.tweet_banner .tweet_profile_img img { width: 83px; height: 83px; }
.tweet_banner .tweet_name { top: 23%; left: 15%; width: 175px; }
.tweet_banner .tweet_name p { margin-top: 0; margin-bottom: 0px; }
.tweet_banner .tweet_name p:last-child {  font-weight: normal;  text-decoration: none;  font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.tweet_banner .tweet_name p:last-child a { color: #858585; }
.tweet_banner .tweet_content { width: 56%; top: 23%; left: 38%; }
.tweet_banner .begin_quote { background: url(../images/quote_open.png) scroll no-repeat; display: inline-block; position: absolute;  width: 25px;  height: 17px; top: 4px; left: -44px }
.tweet_banner .end_quote { background: url(../images/quote_close.png) scroll 98% 0 no-repeat;  display: inline-block; position: absolute;  width: 45px; height: 17px; white-space: pre; bottom: 3px; }




.trainCompartment span { font-size: 23px;  } 



/*	--------------------------------------------------
    Twitter banner
    -------------------------------------------------- */


.tweet_banner > * { color: #666; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; line-height: 26px; font-style: normal; }
.tweet_banner a { color: inherit; text-decoration: none; color: #e75405; }
.tweet_banner li { float: left; display: inline-block; position: absolute; }
.tweet_banner .tweet_profile_img { top: 25%; left: 4%; }
.tweet_banner .tweet_profile_img img { width: 83px; height: 83px; }
.tweet_banner .tweet_name { top: 23%; left: 15%; }
.tweet_banner .tweet_name p { margin-top: 0; margin-bottom: 0px; }
.tweet_banner .tweet_name p:last-child {  font-weight: normal;  text-decoration: none;  font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.tweet_banner .tweet_name p:last-child a { color: #858585; }
.tweet_banner .tweet_content { width: 56%; top: 23%; left: 38%; }
.tweet_banner .begin_quote { background: url(../images/quote_open.png) scroll no-repeat; display: inline-block; position: absolute;  width: 25px;  height: 17px; top: 4px; left: -44px }
.tweet_banner .end_quote { background: url(../images/quote_close.png) scroll 98% 0 no-repeat;  display: inline-block; position: absolute;  width: 45px; height: 17px; white-space: pre; bottom: 3px; }
