/*	--------------------------------------------------
    GLOBAL STYLES
    -------------------------------------------------- */
body { /* background: url(../images/bg-texture-dark.png) top left; */ font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px; font-size: 1.3rem; line-height: 18px; color: #555; -webkit-font-smoothing: antialiased; }

a { color: #666666; text-decoration: none; line-height: inherit; }
p { font-style: italic; }
a:hover { color: #e75406; }
a:focus { color: #e75406; outline: none; }
p a, p a:visited { line-height: inherit; }

hr { border: solid #cdcdcd; border-width: 1px 0 0; clear: both; margin: 12px 30px 12px 0px; height: 0; }
	
html { }

#dynamic { width: 100%; min-width: 768px; height: 100%; top: 100%; overflow: hidden; z-index: 7; }



#wrap { position: relative; background: url(../images/bg-texture-dark.png) scroll repeat; overflow: hidden; width: 100%;}

#boardcontainer { background: url(../images/bg-texture-light.png) scroll repeat; width: 100%; top: 0px; left: 0px; position: absolute; margin-top: 0; margin-left: 1px; overflow: visible; z-index: 10; }

#boardcontainer .left { float: left; margin-left: 30px; display:block; }

#boardcontainer .right { position: absolute; width: 394px; height: 70px; }

#boardcontainer .rightWrap { position: relative; width: 100%; height: 100%; overflow: visible; }
	
#boardcontainer .tabs { position: absolute;	left: 0px; height: 28px; }

#boardcontainer .sharebutton { display: none; position: absolute; width: 109px; height: 22px; background: url(../images/share.png) scroll 0 0 no-repeat; background-size: 109px 22px; overflow: hidden; }
		
#boardcontainer .expanded { display: none; width: 109px; height: 156px; background: url(../images/share_hover.png) scroll 0 0 no-repeat; background-size: 109px 156px; }	



/* MOVEMENT STYLES GLOBAL */ 

#movement_left { width: 512px; float: left; margin: 10px 10px 0px 0px; position: relative; }

#movement_header { position: relative; padding: 30px 0px 0px 30px; }

#movement_header li div span { border-bottom: #cbcbcb 2px solid; margin: 4px 0px 4px 0px; }

#movement_header li p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin: 25px 0px 0px 25px; }

#movement_header li p a { color: #e75405; font-weight: bold;  }

#movement_steps li { position: relative; float: left; }

#movement_steps li:first-child img { margin-top: 20px; }

#movement_steps li:nth-child(2) img { margin-top: 20px; }

#movement_steps li:nth-child(1) .headline { top: -41px; }

#movement_steps img { margin-top: 15px; }

#movement_steps .headline { position: relative; float: left; margin-left: 45px; top: -25px; }

#movement_steps h3 { font-size: 50px; font-family: 'FranklinGothicURW-HeaIta'; font-weight: normal; font-style: normal; color: #666666; text-decoration: none; line-height: 55px; }

#movement_steps p { color: #767676; font-family: Arial, Helvetica, sans-serif; font-size: 36px; line-height: 41px; }

#movement_steps p a { color: #e75405; font-weight: bold; }
	
#poster { margin-top: 10px; width: 100%; position: relative; /*float: right;*/ overflow: hidden; background: url(../images/bg-texture-light.png) scroll repeat; text-align: center; }

#poster img { margin: 35px 0; }



 
@media only screen and (orientation: landscape) {


 /* BACKGROUND AND HEADER STYLES LANDSCAPE */      
    
    #wrap { width: 100%; height: 2475px; }
    #boardcontainer { height: 330px; }
    #boardcontainer .left .headlineLargeGray { font-size: 110px; line-height: 90px; }
	#boardcontainer .left { margin-top: 44px; }
	#boardcontainer .right { top: 80px; left: 30px; }
	#boardcontainer .tabs { top: 168px; width: 900px; font-size: 50px; }
	#boardcontainer .tabs a.active { font-size: 50px; }
	#boardcontainer .tabs dl, dd { font-size: 30px; }
	#boardcontainer .sharebutton {  top: 56px; left: 708px; }
	
	
	
	/* MOVEMENT STYLES PORTRAIT */   
    
    #movement_left { height: 1000px; top: 138px; background: none; width: 100%; }
	#movement_header { height: 407px; width: 100%; margin-top: 10px; margin-bottom: 10px; top: 190px; padding-top: 60px;  }
	#movement_header li div span { font-size: 50px;  padding-right: 10px; }
	#movement_header li p { font-size: 44px;  width: 830px; line-height: 60px; }
	#movement_steps { position: relative; top: 190px;  }
	#movement_steps li { width: 100%; padding: 45px 0px 0px 40px; margin-bottom: 10px; margin-top: 10px;}	
	#movement_steps li img { height: 40%; }	

	#step_1 .img { position: relative; top: 40px; }
	#step_2 .img { position: relative; top: 40px; }
	#step_3 .img { position: relative; top: 50px; height: 85%;  }

	#movement_steps li:nth-child(1) { padding-bottom: 25px;  height: 250px;  }
	#movement_steps li:nth-child(2) { padding-bottom: 25px;  height: 250px;  }
	#movement_steps li:nth-child(3) { padding-bottom: 25px;  height: 300px;  }


	#movement_steps li:nth-child(1) .headline { top: -90px; left: 75px; width: 1000px;  } 
	#movement_steps li:nth-child(2) .headline { top: -90px; left: 75px; width: 1000px;   }
	#movement_steps li:nth-child(3) .headline { top: -240px; left: 75px; width: 550px; } 
	#movement_steps .headline { width: 1000px; }
	#movement_steps .headline h3 { font-size: 65px; line-height: 70px; }
	#movement_steps p { font-size: 44px; width: 775px; }
	.right {  height: 75%; position: absolute; left: 5px; top: 65px;  }
	.right .facebook { margin-left: 95px; }
	.right .google { margin-left: 195px; }
	
	#poster { background-color: #fff; /*height: 560px;*/ margin-top: 10px; top: 900px;  height: 1465px; }



	/* BUZZ STYLES LANDSCAPE */
	#box1 { width: 100%; height: 300px; padding: 50px; margin: 10px 0; position: relative; top: 343px; }
	#box1 div img { height: 15%;} 
	#box1 div span { font-size: 65px; }
	
	
	#train_car1 a span { position: relative; left: -235px; top: 0px;  }
	#train_car2 {}
	#train_car3 {}
	.train { width: 100%; margin: 20px 0px 20px 0px; top: 357px; position: relative; height: 1500px; }
	
/* 	.trainCar { height: 750px; } */
	.trainCar li a span { font-size: 55px; float: left;  }
	.trainCompartment { width: 100%; height: 150px; padding: 50px; position: relative; margin: 20px 0 20px 0; background: url(../images/bg-texture-light.png) scroll repeat; }
	.numbers_medium {  margin: 0; width: 763px; position: relative; float: right; }
	.countOrange {  margin: 0; width: 763px; position: relative; float: right; }
	.smallBoxHeading { top: 30px; left: 30px; }
	.smallBoxIcon { position: relative; float: right; right: 75px; height: 55%; top: -10px;}
	.smallBoxIconLeft { position: relative; float: right; right: 70px; height: 55%; top: -10px; margin-left: 25px;  }
	/* .smallBoxHR { top: 47px; left: 28px; width: 268px; } */


}


@media only screen and (orientation: portrait) {

/* BACKGROUND AND HEADER STYLES LANDSCAPE */  
    

    #wrap { width: 100%; height: 2475px; }
    #boardcontainer { height: 330px; }
    #boardcontainer .left .headlineLargeGray { font-size: 110px; line-height: 90px; }
	#boardcontainer .left { margin-top: 44px; }
	#boardcontainer .right { top: 80px; left: 30px; }
	#boardcontainer .tabs { top: 168px; width: 900px; font-size: 50px; }
	#boardcontainer .tabs a.active { font-size: 50px; }
	#boardcontainer .tabs dl, dd { font-size: 30px; }
	#boardcontainer .sharebutton {  top: 56px; left: 708px; }
	
	
	
	/* MOVEMENT STYLES PORTRAIT */   
    
    #movement_left { height: 1000px; top: 138px; background: none; width: 100%; }
	#movement_header { height: 407px; width: 100%; margin-top: 10px; margin-bottom: 10px; top: 190px; padding-top: 60px;  }
	#movement_header li div span { font-size: 50px;  padding-right: 10px; }
	#movement_header li p { font-size: 44px;  width: 830px; line-height: 60px; }
	#movement_steps { position: relative; top: 190px;  }
	#movement_steps li { width: 100%; padding: 45px 0px 0px 40px; margin-bottom: 10px; margin-top: 10px;}	
	#movement_steps li img { height: 40%; }	

	#step_1 .img { position: relative; top: 40px; }
	#step_2 .img { position: relative; top: 40px; }
	#step_3 .img { position: relative; top: 50px; height: 85%;  }

	#movement_steps li:nth-child(1) { padding-bottom: 25px;  height: 250px;  }
	#movement_steps li:nth-child(2) { padding-bottom: 25px;  height: 250px;  }
	#movement_steps li:nth-child(3) { padding-bottom: 25px;  height: 300px;  }


	#movement_steps li:nth-child(1) .headline { top: -90px; left: 75px; width: 1000px;  } 
	#movement_steps li:nth-child(2) .headline { top: -90px; left: 75px; width: 1000px;   }
	#movement_steps li:nth-child(3) .headline { top: -240px; left: 75px; width: 550px; } 
	#movement_steps .headline { width: 1000px; }
	#movement_steps .headline h3 { font-size: 65px; line-height: 70px; }
	#movement_steps p { font-size: 44px; width: 775px; }
	.right {  height: 75%; position: absolute; left: 5px; top: 65px;  }
	.right .facebook { margin-left: 95px; }
	.right .google { margin-left: 195px; }
	
	#poster { background-color: #fff; /*height: 560px;*/ margin-top: 10px; top: 900px;  height: 1465px; }



	/* BUZZ STYLES PORTRAIT */   
    
	#box1 { width: 100%; height: 300px; padding: 50px; margin: 10px 0; position: relative; top: 343px; }
	#box1 div img { height: 15%;} 
	#box1 div span { font-size: 65px; }
	
	
	#train_car1 a span { position: relative; left: -235px; top: 0px;  }
	#train_car2 {}
	#train_car3 {}
	.train { width: 100%; margin: 20px 0px 20px 0px; top: 357px; position: relative; height: 1500px; }
	
/* 	.trainCar { height: 750px; } */
	.trainCar li a span { font-size: 55px; float: left;  }
	.trainCompartment { width: 100%; height: 150px; padding: 50px; position: relative; margin: 20px 0 20px 0; background: url(../images/bg-texture-light.png) scroll repeat; }
	.numbers_medium {  margin: 0; width: 763px; position: relative; float: right; }
	.countOrange {  margin: 0; width: 763px; position: relative; float: right; }
	.smallBoxHeading { top: 30px; left: 30px; }
	.smallBoxIcon { position: relative; float: right; right: 75px; height: 55%; top: -10px;}
	.smallBoxIconLeft { position: relative; float: right; right: 70px; height: 55%; top: -10px; margin-left: 25px;  }
	/* .smallBoxHR { top: 47px; left: 28px; width: 268px; } */


}









/*==========================================================
			GLOBAL CSS
==========================================================*/


/*	--------------------------------------------------
    Utility
    -------------------------------------------------- */

.headlineLargeGray {
    font-size: 30px;
    font-family: FranklinGothicURW-HeaIta; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666;
    text-decoration: none;
    line-height: 45px;
    
}




.headlineMediumGray {
    font-size: 21px;
    font-family: 'FranklinGothicURW-HeaIta'; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666; 
    text-decoration: none;
}

.headlineSmallGray {
    font-size: 16px;
    font-family: 'FranklinGothicURW-HeaIta'; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666; 
    text-decoration: none;
}

.smallNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 71px;
    color: #e75406;
/*     margin: 38px 0 48px 0; */
/*     line-height: 75px; */
}

.supportersNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 88px;
    color: #e75406;
/*     margin: 38px 0 48px 0; */
/*     line-height: 75px; */
    text-align: right;

}

.mediumNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 116px;
    color: #e75406;
/*     margin: 38px 0 48px 0; */
/*     line-height: 80px; */
}

.largeNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    /*font-size: 161px;*/
    font-size: 243px;
    color: #e75406;
    height: auto;
/*     margin: 138px 0 48px 18px; */
/*     line-height: 175px; */
}

.largNumbersGrey {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    /*font-size: 161px;*/
    font-size: 243px;
    color: #444;
    height: auto;
    margin: 138px 0 48px 18px;
    line-height: 175px;
    
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
}

.supportersNumbersGrey {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 88px;
    color: #444;
        opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    text-align: right;
    }

.mediumNumbersGrey {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 116px;
    color: #444;
/*     margin: 38px 0 48px 0; */
    line-height: 80px;
    
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
}

.smallNumbersGrey {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 71px;
    color: #444;
    margin: 38px 0 48px 0;
    line-height: 75px;
    
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
}


.tabs {
	font-size: 21px;
    font-family: FranklinGothicURW-HeaIta;
	color: #666666;
	font-weight: normal; 
    font-style: normal;
    text-decoration: none;
    clear: right;
}

.tabs a.active {
	font-size: 21px;
    font-family: FranklinGothicURW-HeaIta;
	color: #e75406;
	font-weight: normal; 
    font-style: normal;
    text-decoration: none;
}

.tabs dl, dd {
	font-size: 21px;
    font-family: FranklinGothicURW-HeaIta;
	color: #666666;
	font-weight: normal; 
    font-style: normal;
    text-decoration: none;
}

.bgTextureLight {
    background: url(../images/bg-texture-light.png) scroll repeat;
}

.bgTextureDark {
    background: url(../images/bg-texture-dark.png) scroll repeat;
}



/*	--------------------------------------------------
    MOVEMENT
    -------------------------------------------------- */






/*	--------------------------------------------------
    SHARE
    -------------------------------------------------- */

#shareContainer {
    overflow: hidden;
}

#shareContainer .panelBlack {
    -webkit-transition: height 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: height 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: height 0.3s ease-out;  /* Opera 10.5?12.00 */
          transition: height 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

#shareContainer .expanded {
    height: 84px;
    overflow: hidden;
}

#shareContainer .minimized {
    height: 21px;
    overlflow: hidden;
}








/*	--------------------------------------------------
    Numbers
    -------------------------------------------------- */

.numbers_large {
	height: 162px; 
}

.numbers_large li {
	background: url(../images/numbers_sprite_large.png) top left no-repeat;
	float: left;
	height: 162px;
	position: relative;
	text-indent: -9999px; 
	width: 118px;
}

.numbers_large .nil {}
.numbers_large .zero { background-position: 0 -180px;}
.numbers_large .one { background-position: 0 -360px; }
.numbers_large .two { background-position: 0 -540px; }
.numbers_large .three { background-position: 0 -720px; }
.numbers_large .four { background-position: 0 -900px; }
.numbers_large .five { background-position: 0 -1080px; }
.numbers_large .six { background-position: 0 -1260px; }
.numbers_large .seven { background-position: 0 -1440px; }
.numbers_large .eight { background-position: 0 -1620px; }
.numbers_large .nine { background-position: 0 -1800px; }
.numbers_large .comma { background-position: 0 -1964px; right: 12px; top: 12px; width: 24px; }
.numbers_large .comma_gray { background-position: -94px -1964px; right: 12px; top: 12px; width: 24px; }





.numbers_medium {
	height: 79px;
}

.numbers_medium li {
	background: url(../images/numbers_sprite_medium.png) top left no-repeat;
	float: left;
	height: 79px;
	position: relative;
	text-indent: -9999px; 
	width: 58px;
}


.numbers_medium .nil {}
.numbers_medium .zero { background-position: 0 -90px;}
.numbers_medium .one { background-position: 0 -180px; }
.numbers_medium .two { background-position: 0 -270px; }
.numbers_medium .three { background-position: 0 -360px; }
.numbers_medium .four { background-position: 0 -450px; }
.numbers_medium .five { background-position: 0 -540px; }
.numbers_medium .six { background-position: 0 -630px; }
.numbers_medium .seven { background-position: 0 -720px; }
.numbers_medium .eight { background-position: 0 -810px; }
.numbers_medium .nine { background-position: 0 -900px; }
.numbers_medium .comma { background-position: 0 -990px; right: 7px; top: 6px; width: 13px; }
.numbers_medium .comma_gray { background-position: -45px -990px; right: 7px; top: 6px; width: 13px; }






.numbers_small {
	height: 59px;
}

.numbers_small li {
	background: url(../images/numbers_sprite_small.png) top left no-repeat;
	float: left;
	height: 59px;
	position: relative;
	text-indent: -9999px; 
	width: 43px;
}

.numbers_small .nil {}
.numbers_small .zero { background-position: 0 -72px;}
.numbers_small .one { background-position: 0 -144px; }
.numbers_small .two { background-position: 0 -216px; }
.numbers_small .three { background-position: 0 -288px; }
.numbers_small .four { background-position: 0 -360px; }
.numbers_small .five { background-position: 0 -432px; }
.numbers_small .six { background-position: 0 -504px; }
.numbers_small .seven { background-position: 0 -576px; }
.numbers_small .eight { background-position: 0 -648px; }
.numbers_small .nine { background-position: 0 -720px; }
.numbers_small .comma { background-position: 0 -792px; right: 2px; top: 7px; width: 13px; }
.numbers_small .comma_gray { background-position: -30px -792px; right: 7px; top: 6px; width: 13px; }



.trainCompartment span { font-size: 23px;  } 



/*	--------------------------------------------------
    Twitter banner
    -------------------------------------------------- */


.tweet_banner > * { color: #666; font-family: Helvetica, Arial, sans-serif;  font-size: 24px; line-height: 26px; font-style: normal; }
.tweet_banner a { color: inherit; text-decoration: none; color: #e75405; }
.tweet_banner li { float: left; display: inline-block; position: absolute; }
.tweet_banner .tweet_profile_img { top: 25%; left: 4%; }
.tweet_banner .tweet_profile_img img { width: 83px; height: 83px; }
.tweet_banner .tweet_name { top: 23%; left: 15%; }
.tweet_banner .tweet_name p { margin-top: 0; margin-bottom: 0px; }
.tweet_banner .tweet_name p:last-child {  font-weight: normal;  text-decoration: none;  font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.tweet_banner .tweet_name p:last-child a { color: #858585; }
.tweet_banner .tweet_content { width: 56%; top: 23%; left: 38%; }
.tweet_banner .begin_quote { background: url(../images/quote_open.png) scroll no-repeat; display: inline-block; position: absolute;  width: 25px;  height: 17px; top: 4px; left: -44px }
.tweet_banner .end_quote { background: url(../images/quote_close.png) scroll 98% 0 no-repeat;  display: inline-block; position: absolute;  width: 45px; height: 17px; white-space: pre; bottom: 3px; }


/*	--------------------------------------------------
    BUZZ
    -------------------------------------------------- */

#screen li { margin: 10px 0; }

