/*	--------------------------------------------------
    General
    -------------------------------------------------- */
body {
    background-color: #092134;
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 13px; 
    font-size: 1.3rem; 
    line-height: 18px; 
    color: #555;  
    -webkit-font-smoothing: antialiased;
}

#background {
    background: url(../images/background.jpg) scroll no-repeat;
/*    background-size: 1920px 1080px;
    background-position: center center;*/
    width: 1920px;
    height: 1080px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -960px;
    margin-top: -628px;
    overflow: hidden;
}

#wrap {
    width: 1004px;
    height: 578px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -383px;
}

header {
	z-index: 4;
}

#boardcontainer { 
    width: 994px; 
    height: 68px;
    position: absolute; 
    margin-top: 0; 
    margin-left: 0; 
}

#boardcontainer h2 {
    margin-top: 31px;
    margin-left: 33px;
}

#dynamic {
    width: 1004px;
    height: 504px;
    position: relative;
    top: 74px;
    left: 0;
}

/*	--------------------------------------------------
    Utility
    -------------------------------------------------- */

.headlineLargeGray {
    font-size: 29px;
    font-family: FranklinGothicURW-HeaIta; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666; 
}

.headlineMediumGray {
    font-size: 20px;
    font-family: 'FranklinGothicURW-HeaIta'; 
    font-weight: normal; 
    font-style: normal; 
    color: #666666; 
}

.smallNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 75px;
    color: #e75406;
    margin: 38px 0 48px 0;
    line-height: 80px;
}

.largeNumbersOrange {
    font-family: 'ds-digitalitalic', Arial, sans-serif;
    font-size: 238px;
    color: #e75406;
    height: auto;
    margin: 138px 0 48px 18px;
    line-height: 245px;
}

/*	--------------------------------------------------
    Numbers
    -------------------------------------------------- */

#screen { 
    display: block; 
    width: 1004px; 
    height: 566px; 
    position: absolute; 
    top: 0;
    left: 0;
}

#screen li { 
    float: left; 
}

#box1 { 
    width: 994px; 
    height: 318px; 
    position: relative; 
    left: 5px; 
    top: 5px;  
}

.bottom { 
    width: 328px; 
    height: 160px; 
    position: relative; 
    margin-top: 10px; 
    margin-left: 5px; 
}

/*	--------------------------------------------------
    Instagram
    -------------------------------------------------- */

#instagram {
    overflow: hidden;
}

#belowInstagram hr {
    background-color: #c8c8c8;
}

#belowInstagram .headline {
    float: left;
    width: 573px;
}

#belowInstagram .photoCount {
    float: right;
    width: 425px;
    text-align: right;
}

/*	--------------------------------------------------
    Twitter
    -------------------------------------------------- */


#twitter_overlay { background: url(../images/twitter_overlay.png) top left no-repeat; display: block; height: 337px; position: absolute; width: 1000px; z-index: 3;} 
  
.twitter { width: 1004px; height: 337px; position: relative; overflow: hidden; }

.tweet_list { position: relative; top: -40px; }

.unique_tweet { 
	border-bottom: #ccc 2px solid;
	height: 102px;
	margin: 0 34px 0 34px;
	padding: 31px 0 0 0; 
	position: relative;
	width: 936px; 

}

.tweet:before {
	content: '"';
	color: #a4bc27;
	font-family: 'FranklinGothicURW-HeaIta', Helvetica, Arial, sans-serif; 
	font-size: 60px;
	float: left;
	position: relative;

	
} 

.tweet:after{
	content: '"';
	color: #a4bc27;
	font-family: 'FranklinGothicURW-HeaIta', Helvetica, Arial, sans-serif; 
	font-size: 60px;
	float: right;
	position: relative;

}

.unique_tweet li { float: left; list-style: none; position: relative;
	
	
}


.tweet_info {
	color: #e75405;
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: bold; 
	font-size: 18px;
	height: 102px; 
	margin: 0 0 0 0;
	padding: 0 0 0 0; 
	width: 265px;
	overflow: hidden;

}

.tweet_info ul {
	
}

.tweet_info ul li { float: left; position: relative; 
	
	
}

.avatar {
	margin-right: 7px;
}

.screenname {
	position: relative; 
	clear: right;

}

.username {
	float: left;

}

.tweet{
	height: 102px;
	margin: 0 25px 0 0;
	padding: 0 0 0 15px;
	width: 600px;

}	

.tweet_text {
	color: #858585;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 24px;
	margin: 5px 0 0 45px;
	padding: 0 0 0 0;
	float: relative;
	line-height: 26px; 
	width: 550px;


  
}

.external_link {
	color: #a4bc27;
	text-decoration: underline;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 24px;

}

.tweet_hashtag {
	color: #e75405;
	text-decoration: none; 
	font: Helvetica, Arial, sans-serif;  

}


.tweet_user {
	color: #858585;
	font-weight: normal;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 

}

.tweet_avatar {
	float: left;
	height: 48px;
	width: 48px; 

}

.at_user {
	color: #a4bc27;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 24px;

}

#twitter_footer {
	position: relative;
	height: 150px;
	width: 530px;
	margin: 30px 0 0 30px;
	
}


#twitter_footer li div span {
	border-bottom: #cbcbcb 2px solid;
	 padding-right: 177px; 
}


#social {
	padding: 20px 0 0 36px; 
}

#social p {
	color: #767676;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 240px; 	
}

#social .links {
	position: relative;
	float: right;
	top: -30px;	
	
}
#social .links li{
	position: relative;
	float: left;	
	
}

#social .links a {
	text-decoration: none;
}

#social .links span {
	color: #767676;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	top: -11px;
}

#tweet {
	margin-right: 20px; 
}

#social img {
	margin-right: 7px;
}




/*	--------------------------------------------------
    Debugging
    -------------------------------------------------- */

div {
    border: 1px dotted red;
}