



  



.query {}
  
 
#twitter_overlay { background: url(../images/twitter_overlay.png) top left no-repeat; display: block; height: 337px; position: absolute; width: 1000px; z-index: 3;} 
  
.twitter { width: 1004px; height: 337px; position: relative; overflow: hidden; }

.tweet_list { position: relative; top: -40px; }

.unique_tweet { 
	border-bottom: #ccc 2px solid;
	height: 102px;
	margin: 0 34px 0 34px;
	padding: 31px 0 0 0; 
	position: relative;
	width: 936px; 

}

.tweet:before {
	content: '"';
	color: #a4bc27;
	font-family: 'FranklinGothicURW-HeaIta', Helvetica, Arial, sans-serif; 
	font-size: 60px;
	float: left;
	position: relative;

	
} 

.tweet:after{
	content: '"';
	color: #a4bc27;
	font-family: 'FranklinGothicURW-HeaIta', Helvetica, Arial, sans-serif; 
	font-size: 60px;
	float: right;
	position: relative;

}

.unique_tweet li { float: left; list-style: none; position: relative;
	
	
}




.tweet_info {
	color: #e75405;
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: bold; 
	font-size: 18px;
	height: 102px; 
	margin: 0 0 0 0;
	padding: 0 0 0 0; 
	width: 265px;
	overflow: hidden;

}

.tweet_info ul {
	
}

.tweet_info ul li { float: left; position: relative; 
	
	
}

.avatar {
	margin-right: 7px;
}

.screenname {
	position: relative; 
	clear: right;

}

.username {
	float: left;

}

.tweet{
	height: 102px;
	margin: 0 25px 0 0;
	padding: 0 0 0 15px;
	width: 600px;

}	

.tweet_text {
	color: #858585;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 24px;
	margin: 5px 0 0 45px;
	padding: 0 0 0 0;
	float: relative;
	line-height: 26px; 
	width: 550px;


  
}

.external_link {
	color: #a4bc27;
	text-decoration: underline;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 24px;

}

.tweet_hashtag {
	color: #e75405;
	text-decoration: none; 
	font: Helvetica, Arial, sans-serif;  

}


.tweet_user {
	color: #858585;
	font-weight: normal;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 

}

.tweet_avatar {
	float: left;
	height: 48px;
	width: 48px; 

}

.at_user {
	color: #a4bc27;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 24px;

}

#twitter_footer {
	position: relative;
	height: 200px;
	width: 1000px;
	
}









      